    <!-- <footer class="container-fluid bg-dark mb-0"> 
        <p style="font-size: 20px" class="text-info ml-auto">Copyright 2019-2020</p>
    </footer>     -->
    <script src='/js/jquery.js'></script>
    <script src='/js/bootstrap.js'></script>
    <script src='/js/main.js'></script>
</body>
</html>