<footer class="footer-bg">
    <div class="sub-box container-fluid bg-white">
        <div class="bg-white subscribe  justify-content-center main-content">
            <div class="row">
                <div class="col-md-5 px-0 pb-3 pb-sm-0 d-flex justify-content-center">
                    <p class="text-center">Subscribe to get updates everytime <br>we post a new <br>
                        <strong style="font-size:21px;">Aswam Product!</strong>
                    </p>
                    <br>
                </div>
                <div class="col px-0 pb-4 pb-sm-0">
                    <form class="subscription" action="/subscribe" method="POST">
                        <div class="input-group p-0">
                            <input name="email" type="email" class="form-control" placeholder="Type your email"
                                aria-label="Recipient's username" aria-describedby="basic-addon2" required>
                            <div class="input-group-append">
                                <button onclick="subscribe()" type="button" class="input-group-text" id="basic-addon2">
                                    <i class=" text-white fas fa-paper-plane"></i>
                                    <span class="spinner-border spinner-border-sm ml-1 text-light d-none" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-6 footer">
        <div class="container px-5 transparent">
            <div class="container text-white">
                <div class="row">
                    <div class="col-3-sm">
                        <a class="navbar-brand pt-4 pl-3 text-white" href="/"><img alt="AndroCrunch logo" class="navbar-icon" src="/imgs/logo.png">
                        </a>
                        <p class="text-white px-3 mt-2  small-font">The all in one place for your, <br>
                            Smartphone's
                            necessity
                        </p>
                    </div>

                    <div class="col-sm ">
                        <p class="font-weight-bold text-left mt-4">Company</p>
                        <p class=" mt-4"><a class="text-white" href="/about_us">About Us</a>
                            <br> Our Team
                            <br>Sitemap
                            <br>Brand
                            <br><a class="text-white" href="/disclaimer">Disclaimer</a>
                            <br> <a class="text-white" href="/contact">Contact</a></p>
                    </div>
                    <div class="col-sm ">
                        <p class="font-weight-bold text-left mt-4">Contents</p>
                        <p class="mt-4">
                            <a class="text-white" href="/contents/ringtones">Ringtones</a>
                            <br><a class="text-white" href="/contents/wallpapers">Wallpapers</a>
                            <br><a class="text-white" href="/contents/apps">Apps</a>
                            <br><a class="text-white" href="/contents/presets">Presets</a>
                        </p>
                    </div>
                    <div class="col-sm ">
                        <p class="font-weight-bold text-left mt-4">Others</p>
                        <p class="mt-4">
                            <a class="text-white" href="/blog">Blogs</a>
                            <br><a class="text-white" href="/privacy_policy">Privacy Policy</a>
                            <br><a class="text-white" href="/advertisement">Advertise</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-4 pb-4">
            <div class="container text-white">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6">
                        <div class="pt-6 pt-sm-1">
                            <div class="social d-flex justify-content-between pb-4">
                                <a href="/"><i class="fab fa-facebook-f big" ></i></a>
                                <a href="https://youtube.com/AndroCrunch"><i class="fab fa-youtube big" ></i></a>
                                <a href="https://instagram.com/androcrunch.in"><i class="fab fa-instagram big"></i></a>
                                <a href="/"><i class="fab fa-twitter big"></i></a>
                            </div>
                        </div>
                        <div class="dropdown-divider mb-2"></div>
                    </div>
                </div>
            </div>
            <small class="mb-0 d-block text-light text-center"><span>© AndroCrunch Media Private Limited</span></small>
        </div>
    </div>
</footer>





<!-- <footer class="container-fluid bg-dark mb-0"> 
        <p style="font-size: 20px" class="text-info ml-auto">Copyright 2019-2020</p>
    </footer>     -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
<script src='/js/main.js'></script>

</body>

</html>