<div class="container-fluid bg-gradient pt-6s footer">
    <div class="container px-5 transparent">
        <div class="container text-white">
            <div class="row">
                <div class="col-3-sm">
                    <a class="navbar-brand pt-4" href="#"><img class="navbar-icon" src="/imgs/logo.png">
                        <span class="brand-name text-white lucida-font"><span>AndroCrunch</span><br>
                            <span class="motto">
                                BEYOND THE INFINTY
                            </span>
                        </span>
                    </a>
                    <p class="text-white px-3 mt-2 lucida-font small-font">The all in one place for your, <br>
                        Smartphone's
                        necessity
                    </p>
                </div>

                <div class="col-sm lucida-font">
                    <p class="font-weight-bold text-left mt-4">Company</p>
                    <p class="lucida-font mt-4"><a href="/about_us">About Us</a> 
                        <br> Our Team
                        <br>Sitemap
                        <br>Brand
                        <br><a href="/disclaimer">Disclaimer</a> 
                        <br> <a href="/contact">Contact</a></p>
                </div>
                <div class="col-sm lucida-font">
                    <p class="font-weight-bold text-left mt-4">Contents</p>
                    <p class="mt-4">Ringtones(135)
                        <br>Wallpapers(56)
                        <br>Apps(65)
                        <br>Presets(26)
                    </p>
                </div>
                <div class="col-sm lucida-font">
                    <p class="font-weight-bold text-left mt-4">Others</p>
                    <p class="mt-4">Blogs
                        <br><a href="/privacy_policy">Privacy Policy</a> 
                        <br><a href="/advertisement">Advertise</a> 
                        <br>Affiliate
                        <br>FAQ
                    </p>
                </div>
                <div class="col-3-sm justify-content-end lucida-font">
                    <p class="font-weight-bold mt-3 font-lg">Subscribe</p>
                    <div class="input-group mb-3 mt-4">
                        <input type="email" class="form-control" placeholder="Your Email Address"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container pb-6">
        <div class="container text-white">
            <div class="pl-4 ">
                <p class="display-5 font-weight-bold lucida-font">22551649</p>
                <p class="lucida-font mt-0">Total Downloads & Counting</p>
                <div class="dropdown-divider mt-5 mb-5"></div>
                <p class="mb-0"><span>Copyright AndroCrunch Media Private Limited</span><span style="float:right;">F T
                        Y</span></p>
            </div>

        </div>

    </div>
</div>



<!-- <footer class="container-fluid bg-dark mb-0"> 
        <p style="font-size: 20px" class="text-info ml-auto">Copyright 2019-2020</p>
    </footer>     -->
<script src='/js/jquery.js'></script>
<script src='/js/bootstrap.js'></script>
<script src='/js/main.js'></script>
</body>

</html>