<!DOCTYPE html>
<html style="position: relative;">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>AndroCrunch</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/bootstrap.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>

</head>

<body>


    <div class="separator"></div>

    <% if(error && error.length > 0) { %>
    <br>
    <br>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <% } %>
    <% if(success && success.length > 0) { %>
    <br>
    <br>
    <div class="alert alert-success" role="alert">
        <%= success %>
    </div>
    <% } %>
    <% if(warning && warning.length > 0) { %>
    <br>
    <br>
    <div class="alert alert-danger" role="alert">
        <%= warning %>
    </div>
    <% } %>