<!DOCTYPE html>
<html style="position: relative;">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>AndroCrunch</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/bootstrap.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>

</head>

<body>
    <div id="side-toggler" class="container">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>
        <!-- Use any element to open the sidenav -->

        <span id="sidenavs" onclick="openNav()"><img class="svg-icon no-border" src="/imgs/menu.svg"></span>
    </div>
    <nav id="nav" class="navbar navbar-expand-lg fixed-top p-100">
        <div class="container">
            <a class="navbar-brand" href="#"><img class="navbar-icon" src="/imgs/logo.png">
                <span class="brand-name"><span>AndroCrunch</span><br><span class="motto">BEYOND THE INFINTY</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <img class="svg-icon no-border" src="/imgs/menu.svg">
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul id="nav-content" class="navbar-nav ml-auto px-7 justify-content-center">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Content</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link store" href="#">Store</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>


    </nav>

    <% if(error && error.length > 0) { %>
    <br>
    <br>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <% } %>
    <% if(success && success.length > 0) { %>
    <br>
    <br>
    <div class="alert alert-success" role="alert">
        <%= success %>
    </div>
    <% } %>
    <% if(warning && warning.length > 0) { %>
    <br>
    <br>
    <div class="alert alert-danger" role="alert">
        <%= warning %>
    </div>
    <% } %>