<% include partials/header %>

<div class="container-fluid pt-5 pb-6 text-white about-us-gradient">
    <h1 class="display-4 text-center text-white mt-6">About Us</h1>
    <p class="lead text-center">Home > About Us</p>
</div>

<div class="container-fluid bg-white pt-5 pb-6">
    <p class="main-content mt-4 mb-5">
        AndroCrunch is one of the leading consumer technology websites aimed at helping people to customize their
        devices by their own teast in a better way.
        <br>
        <br>
        <br>
        At AndroCrunch, we serve the hottest digital downloads such as Ringtones, Wallpapers, Apps, Plug-ins & much
        more. You can also find the latest news, leaks regarding upcoming smartphones, gadgets and other technology
        services.

    </p>
</div>

<div class="container-fluid statistics px-0">
    <div class="container-fluid">
        <h1 class="display-5 text-white text-center font-weight-bold pb-5">Our Performances Statistics</h1>
        <p class="lead text-center text-white mb-6 pb-6">Don't just take our word for it.<br>
            Trusted by 100000+ people in every state in India and Worldwide</p>
    </div>
    <div class="container-fluid pb-6 bg-white">
        <div id="stats" class="row justify-content-center">
            <div class="col-sm">
                <p class="hits text-center">
                    <span id="premium-stuffs">1279</span><br>
                    <span class="lead">PREMIUM STUFFS</span>
                </p>
            </div>
            <div class="col-sm">
                <p class="hits text-center">
                    <span id="downloads">22551649</span><br>
                    <span class="lead">TOTAL DOWNLOADS</span>
                </p>
            </div>
            <div class="col-sm">
                <p class="hits text-center">
                    <span id="notify-squad">185611</span><br>
                    <span class="lead">NOTIFICATION SQUAD</span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="bg-white continer-fluid pt-5 pb-6 justify-content-center">
    <h1 class="display-5 text-center post-title font-weight-bold text-darkgray">Want to know more about us ?<br>
        <a href="/contact" class="btn btn-lg btn-purple-color text-white mt-5 no-border-radius">Contact</a>
    </h1>

</div>

<% include partials/footer %>