<% include partials/header %>
<div class="container-fluid pt-5 pb-6 text-white privacy-policy-gradient">
    <h1 class="display-4 text-center text-white mt-6">AUTHOR PANEL</h1>
    <p class="lead text-center small">With great power, comes great responsibility.</p>
    <h5 class="text-center">Logged in as <strong class="text-primary"><%= loggedUser.username %></strong></h5>
</div>
<div class="container-fluid bg-white pb-6 pt-4">
    <div class="main-content">
        <div class="row justify-content-center">
            <div class="col-sm text-center">
                <a href="/blogs/list" class="btn btn-outline-primary text-center btn-lg mt-3 ">Posts List</a>
            </div>
            <div class="col-sm text-center">
                <a href="/blogs/new" class="btn btn-primary btn-lg mt-3 ">New Post</a>
            </div>
            <div class="col-sm text-center">
                <a href="/files/list" class="btn btn-outline-primary mt-3 btn-lg ">Files</a>
            </div>
            <div class="col-sm text-center">
                <a href="/blogs/list" class="btn btn-outline-primary btn-lg mt-3 ">Comments</a>
            </div>
            <div class="col-sm text-center">
                <a href="/kickout" class="btn btn-outline-danger mt-3 btn-lg ">LogOut</a>
            </div>
        </div>
    </div>
    
</div>
<% include partials/footer %>