<% include partials/header %>
<div class="container-fluid pt-5 pb-6 text-white privacy-policy-gradient">
    <h1 class="display-4 text-center text-white mt-6">AUTHOR PANEL</h1>
    <p class="lead text-center small">With great power, comes great responsibility.</p>
    <h5 class="text-center">Logged in as <strong class="text-primary"><%= loggedUser.username %></strong></h5>
</div>
<div class="container-fluid bg-white pb-6 pt-4">
    <div class="main-content d-flex justify-content-around">
        <a href="/blogs/list" class="btn btn-outline-primary btn-lg">Posts List</a>
        <a href="/blogs/list" class="btn btn-outline-primary btn-lg">Files Action</a>
        <a href="/blogs/list" class="btn btn-outline-primary btn-lg">Comments Action</a>
    </div>
</div>
<% include partials/footer %>