<% include partials/header %>
<div class="container-fluid pt-5  pb-6 text-white advert-gradient">
    <h1 class="display-4 text-center text-white mt-6">Advertisement</h1>
    <p class="lead text-center">Home > Advertisement</p>
</div>

<section class="container-fluid bg-white pt-5 pb-6">
    <p class="main-content mb-5">
        AndroCrunch is a leading online destination for digital tips and resources on software, apps and gadgets. We put
        our best in making sure that the product we are promoting is received well by our audience and hence we only
        promote selective products.
    </p>
    <p class="main-content pb-6">
        For all your advertising needs, feel free to get in touch with us at <strong>business@androcrunch.com</strong>
    </p>

</section>
<% include partials/footer %>