<% include partials/header %>
<div class="container-fluid pt-5  pb-6 text-white bg-gradient">
    <h1 class="display-4 text-center text-white mt-6">Blogs</h1>
    <p class="lead text-center">Home > Blog</p>
</div>
<section class="bg-white pt-5 pb-6">
    <div class="main-content blog-head mb-3"><span>Trending Now</span></div>
    <div class="main-content">
        <div class="container main-content blog-content text-white">
            <div class="row">
                <div class="col-sm main">
                    <div class="blog-details">
                        <p class="blog-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, et!</p>
                        <p class="meta"><span>John Doe</span> - DD MMMM YYYY</p>
                    </div>
                </div>
                <div class="col-sm sub px-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="blog-details">
                                    <p class="blog-title">Lorem, ipsum dolor 
                                        Odio, et!</p>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="blog-details">
                                    <p class="blog-title">Lorem, ipsum dolor sit  elit.
                                        Odio, et!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="blog-details">
                                    <p class="blog-title">Lorem, ipsum  consectetur adipisicing elit.
                                        Odio, et!</p>
                                </div>
                            </div>
                            <div class=" col-sm">
                                <div class="blog-details">
                                    <p class="blog-title">Lorem, ipsum dolor sit amet consectetut.
                                        Odio, et!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</section>
<% include partials/footer %>