<% include partials/header %>
<div class="container-fluid pt-5  pb-6 text-white bg-gradient">
    <h1 class="display-4 text-center text-white mt-6">Blogs</h1>
    <p class="lead text-center">Home > Blog</p>
</div>
<section class="bg-white pt-5 pb-6">
    <div class="main-content blog-head mb-3"><span>Trending Now</span></div>
    <div class="main-content">
        <div class="container main-content blog-content text-white">
            <div class="row">
                <div class="col-sm main">
                    <div class="blog-details">
                        <p class="blog-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, et!</p>
                        <p class="meta"><span>John Doe</span> - DD MMMM YYYY</p>
                    </div>
                </div>
                <div class="col-sm sub px-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="blog-details">
                                    <p class="blog-title">Lorem, ipsum dolor
                                        Odio, et!</p>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="blog-details">
                                    <p class="blog-title">Lorem, ipsum dolor sit elit.
                                        Odio, et!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="blog-details">
                                    <p class="blog-title">Lorem, ipsum consectetur adipisicing elit.
                                        Odio, et!</p>
                                </div>
                            </div>
                            <div class=" col-sm">
                                <div class="blog-details">
                                    <p class="blog-title">Lorem, ipsum dolor sit amet consectetut.
                                        Odio, et!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white">
    <div class="main-content">
        <div class="row">
            <div class="col">
                <div class="bg-gradient blog-image"></div>
                <p class="blog-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, nemo.</p>
            </div>
            <div class="col">
                <div class="bg-gradient blog-image"></div>
                <p class="blog-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, nemo.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="bg-gradient blog-image"></div>
                <p class="blog-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, nemo.</p>
            </div>
            <div class="col">
                <div class="bg-gradient blog-image"></div>
                <p class="blog-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, nemo.</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-white">
    <div class="main-content blog-head mb-3"><span>Recommended</span></div>
    <div class="row main-content">
        <div class="col px-0">
            <div class="bg-gradient blog-image-md"></div>
            <p class="blog-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, nemo.</p>
        </div>
        <div class="col px-0 pl-1">
            <div class="bg-gradient blog-image-md"></div>
            <p class="blog-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, nemo.</p>
        </div>
        <div class="col px-0 pl-1">
            <div class="bg-gradient blog-image-md"></div>
            <p class="blog-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, nemo.</p>
        </div>
    </div>
</section>

<section class="bg-white">
    <div class="main-content blog-head mb-3"><span>Latest Posts</span></div>
    <div class="main-content">
        <div class="row">
            <div class="col">
                <div class="row ">
                    <div class="col-1 img-icon">
                        <img src="/imgs/logo.png">
                    </div>
                    <div class="col justify-content-end">
                        <span class="post-title">Android Q - Latest Top 5 Features</span><br>
                        <span class="post-date">25 February</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-1 img-icon">
                        <img src="/imgs/logo.png">
                    </div>
                    <div class="col justify-content-end">
                        <span class="post-title">Android Q - Latest Top 5 Features</span><br>
                        <span class="post-date">25 February</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<% include partials/footer %>