<% include partials/header %>
<div class="container-fluid pt-5 bg-gradient  pb-6 text-white">
    <h1 class="display-4 text-center text-white mt-6">Blogs</h1>
    <p class="lead text-center">Home > Blog</p>
</div>
<section class="bg-white pt-5 pb-6">
    <div class="main-content blog-head mb-3"><span>Trending Now</span></div>
    <div class="main-content">
        <div class="container main-content blog-content text-white">
            <div class="row justify-content-center ">
                <div style="background-image: url('/imgs/blog-2.webp');background-size: cover;" class="col-sm main">
                    <div class="hover-opacity"></div>
                    <div class="blog-details">
                        <p class="blog-title">Lake seen from a mountain.</p>
                        <p class="meta"><span>John Doe</span> - 12 APRIL 2019</p>
                    </div>
                </div>
                <div class="col-sm sub px-0 scroll-flex">
                    <div class="container">
                        <div class="row">
                            <div style="background-image: url('/imgs/blog-12.webp');background-size: cover;"
                                class="col-sm">
                                <div class="hover-opacity"></div>
                                <div class="blog-details">
                                    <p class="blog-title">Lorem, ipsum dolor
                                        Odio, et!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div style="background-image: url('/imgs/blog-4.webp');background-size: cover;"
                                class="col-sm">
                                <div class="hover-opacity"></div>

                                <div class="blog-details">
                                    <p class="blog-title">Lorem,
                                        Odio, et!</p>
                                </div>
                            </div>
                            <div style="background-image: url('/imgs/plane.webp');background-size: cover;"
                                class=" col-sm">
                                <div class="hover-opacity"></div>
                                <div class="blog-details">
                                    <p class="blog-title">Lorem,
                                        Odio, et!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10">
                <div class="row scroll-flex">
                    <div class="col-sm-5">
                        <!-- <div style="background-image: url('/imgs/blog-5.webp');background-size: cover;"
                            class="blog-image"></div>
                        <p class="blog-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus,
                            nemo.</p> -->
                        <div class="card">
                            <img src="/imgs/blog-5.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-purple-color text-white">View Post</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="card">
                            <img src="/imgs/blog-6.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-purple-color text-white">View Post</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 mt-4">
                        <div class="card">
                            <img src="/imgs/blog-7.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-purple-color text-white">View Post</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 mt-4">
                        <div class="card">
                            <img src="/imgs/blog-8.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-purple-color text-white">View Post</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <!-- TESTTTTTTTTTTTTTTTTTTTTTT -->
            </div>
        </div>

    </div>
</section>
<section class="bg-white pt-6s">
    <div class="main-content blog-head mb-3"><span>Recommended</span></div>
    <div class="row main-content">
        <div class="col-sm px-0 mb-4">
            <div class="card">
                <img src="/imgs/blog-9.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-purple-color text-white">View Post</a>
                </div>
            </div>
        </div>
        <div class="col-sm px-0 pl-1 mb-4 zoom-ft">
            <div class="card">
                <img src="/imgs/blog-10.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-purple-color text-white">View Post</a>
                </div>
            </div>
        </div>
        <div class="col-sm px-0 pl-1 mb-4 zoom-ft">
            <div class="card">
                <img src="/imgs/blog11.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-purple-color text-white">View Post</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-white pb-6 pt-6s">
    <div class="main-content blog-head mb-5"><span>Latest Posts</span></div>
    <div class="main-content">
        <div class="row latest-posts">
            <div class="col-sm">
                <div class="row hover-border">
                    <div class="col-1 img-icon">
                        <img src="/imgs/logo.png">
                    </div>
                    <div class="col justify-content-end ml-4">
                        <span class="post-title">Android Q - Latest Top 5 Features</span><br>
                        <span class="post-date">25 February</span>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="row">
                    <div class="col-1 img-icon">
                        <img src="/imgs/logo.png">
                    </div>
                    <div class="col justify-content-end ml-4">
                        <span class="post-title">Android Q - Latest Top 5 Features</span><br>
                        <span class="post-date">25 February</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-sm-4  latest-posts">
            <div class="col-sm">
                <div class="row ">
                    <div class="col-1 img-icon">
                        <img src="/imgs/logo.png">
                    </div>
                    <div class="col justify-content-end ml-4">
                        <span class="post-title">Android Q - Latest Top 5 Features</span><br>
                        <span class="post-date">25 February</span>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="row">
                    <div class="col-1 img-icon">
                        <img src="/imgs/logo.png">
                    </div>
                    <div class="col justify-content-end ml-4">
                        <span class="post-title">Android Q - Latest Top 5 Features</span><br>
                        <span class="post-date">25 February</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right">
            <a class="btn btn-md btn-purple-color no-border-radius  text-white mt-5" href="/more">NEXT</a>
        </div>
    </div>
</section>
<% include partials/footer %>