<% include partials/header %>
<div class="container-fluid pt-5 bg-gradient  pb-6 text-white">
    <h1 class="display-4 text-center text-white mt-6">Blogs</h1>
    <p class="lead text-center">Home > Blog</p>
</div>
<section class="bg-white pt-5 pb-6">
    <div class="row main main-content bg-white">
        <div class="col-md">
            <div class="row">
                <div class="col-sm-4">

                </div>
                <div class="col-sm">

                </div>
            </div>
            <div class="row">
                <div class="col-sm">

                </div>
                <div class="col-sm-4">

                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</section>
<section class="bg-white">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-8">
                <div class="row scroll-flex">
                    <div style="float:left;" class="col col-sm-6">
                        <div class="card">
                            <img src="/imgs/blog-2.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="tags">ANDROID, TRICKS</p>
                                <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the
                                    card's content.</p>
                                <p class="date">FEB 10, 2019</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-7 col-sm-6">
                        <div class="card">
                            <img src="/imgs/blog-5.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="tags">ANDROID, TRICKS</p>
                                <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the
                                    card's content.</p>
                                <p class="date">FEB 10, 2019</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-7 col-sm-6 mt-sm-4">
                        <div class="card">
                            <img src="/imgs/blog11.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="tags">ANDROID, TRICKS</p>
                                <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the
                                    card's content.</p>
                                <p class="date">FEB 10, 2019</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-7 col-sm-6 mt-sm-4">
                        <div class="card">
                            <img src="/imgs/blog-9.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="tags">ANDROID, TRICKS</p>
                                <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the
                                    card's content.</p>
                                <p class="date">FEB 10, 2019</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm mt-4 mt-sm-0">
                <div class="row latest-posts">
                    <div class="row hover-border">
                        <div class="col-1 img-icon">
                            <img src="/imgs/logo.png">
                        </div>
                        <div class="col justify-content-end ml-4">
                            <span class="post-title">Android Q - Latest Top 5 Features</span><br>
                            <span class="post-date">25 February</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1 img-icon">
                            <img src="/imgs/logo.png">
                        </div>
                        <div class="col justify-content-end ml-4">
                            <span class="post-title">Android Q - Latest Top 5 Features</span><br>
                            <span class="post-date">25 February</span>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-1 img-icon">
                            <img src="/imgs/logo.png">
                        </div>
                        <div class="col justify-content-end ml-4">
                            <span class="post-title">Android Q - Latest Top 5 Features</span><br>
                            <span class="post-date">25 February</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1 img-icon">
                            <img src="/imgs/logo.png">
                        </div>
                        <div class="col justify-content-end ml-4">
                            <span class="post-title">Android Q - Latest Top 5 Features</span><br>
                            <span class="post-date">25 February</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>

</section>
<section class="bg-white pt-6s">
    <div class="main-content blog-head mb-3"><span>Recommended</span></div>
    <div class="row main-content recommended">
        <div class="col-sm px-0 mb-4 px-1">
            <div class="card">
                <img src="/imgs/blog-9.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                </div>
            </div>
        </div>
        <div class="col-sm px-0 pl-1 mb-4 px-1 zoom-ft">
            <div class="card">
                <img src="/imgs/blog11.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                </div>
            </div>
        </div>
        <div class="col-sm px-0 pl-1 mb-sm-4 px-1 zoom-ft">
            <div class="card">
                <img src="/imgs/blog-10.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                </div>
            </div>
        </div>
    </div>
    <nav class="container main-content justify-content-end pb-4 pt-5 pt-" aria-label="Pagination">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link previous" href="#" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item  disabled active" aria-current="page">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link next pl-1" href="#">Next</a>
              </li>
            </ul>
          </nav>
</section>

<% include partials/footer %>