<% include partials/header %>
<div class="container-fluid pt-5 bg-gradient  pb-6 text-white">
    <h1 class="display-4 text-center text-white mt-6">Blogs</h1>
    <p class="lead text-center">Home > Blog</p>
</div>

<section class="bg-white pt-3 pt-sm-0">
    <div class="main-content">
        <h1 class="display-5 text-center text-dark-purple mb-5 pt-5"><span>Trending Blog Posts</span></h1>
        <div class="line w-85 m-auto"></div>
        <div class="row">
            <div class="col-md-8">
                <div class="blog-posts pb-6">
                    <div class="row main-content justify-content-center">
                        <div class="col-md-6">
                            <div class="card mx-sm-1 mt-5 ">
                                <img src="/imgs/blog11.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="tags">ANDROID, TRICKS</p>
                                    <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of
                                        the
                                        card's content.</p>
                                    <p class="date">FEB 10, 2019</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mx-sm-1 mt-5 ">
                                <img src="/imgs/blog11.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="tags">ANDROID, TRICKS</p>
                                    <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of
                                        the
                                        card's content.</p>
                                    <p class="date">FEB 10, 2019</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mx-sm-1 mt-5 ">
                                <img src="/imgs/blog11.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="tags">ANDROID, TRICKS</p>
                                    <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of
                                        the
                                        card's content.</p>
                                    <p aria-labelledby="date of post publication" class="date">FEB 10, 2019</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mx-sm-1 mt-5 ">
                                <img src="/imgs/blog11.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="tags">ANDROID, TRICKS</p>
                                    <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of
                                        the
                                        card's content.</p>
                                    <p class="date">FEB 10, 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-6 mt-sm-4 main-content">
                        <a href="#" class="btn btn-outline load-more small rounded-pill">Browse More</a>
                    </div>
                </div>
            </div>

            <!-- Ninty six 96 characters on three line || 32 characters per line -->
            <h1 class="display-5 text-center text-dark-purple mb-5 pt-5 w-100 d-block d-md-none">Recent Posts</h1>
            <div class="line w-75 pl-6 m-auto d-block d-md-none"></div>
            <div class="col-md mt-md-0">
                <div class="row side-posts mt-5 align-items-center border-bottom-light">
                    <div class="col-2 col-md-3 img-icon px-0">
                        <img class="align-self-center" src="/imgs/logo.png">
                    </div>
                    <div class="col px-0 ml-3">
                        <p class="tags mb-0">ANDROID, APPS</p>
                        <p class="blog-title px-0">Lorem ipsum dolor sit amet elit. Explicabo,
                            debitis.</p>
                    </div>
                </div>
                <div class="row side-posts align-items-center border-bottom-light">
                    <div class="col-2 col-md-3 img-icon px-0">
                        <img class="align-self-center" src="/imgs/logo.png">
                    </div>
                    <div class="col px-0 ml-3">
                        <p class="tags mb-0">ANDROID, APPS</p>
                        <p class="blog-title px-0">Lorem ipsum dolor sit amet elit. Explicabo,
                            debitis.</p>
                    </div>
                </div>
                <div class="row side-posts align-items-center border-bottom-light">
                    <div class="col-2 col-md-3 img-icon px-0">
                        <img class="align-self-center" src="/imgs/logo.png">
                    </div>
                    <div class="col px-0 ml-3">
                        <p class="tags mb-0">ANDROID, APPS</p>
                        <p class="blog-title px-0">Lorem ipsum dolor sit amet elit. Explicabo,
                            debitis.</p>
                    </div>
                </div>
                <div class="row side-posts align-items-center border-bottom-light">
                    <div class="col-2 col-md-3 img-icon px-0">
                        <img class="align-self-center" src="/imgs/logo.png">
                    </div>
                    <div class="col px-0 ml-3">
                        <p class="tags mb-0">ANDROID, APPS</p>
                        <p class="blog-title px-0">Lorem ipsum dolor sit amet elit. Explicabo,
                            debitis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white pt-6s">
    <div class="main-content blog-head mb-3"><span>Recommended</span></div>
    <div class="row main-content recommended scroll-flex">
        <div class=" col-md px-0 mb-4 px-1">
            <div class="card">
                <img src="/imgs/blog-9.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                </div>
            </div>
        </div>
        <div class=" col-md px-0 pl-1 mb-4 px-1 zoom-ft">
            <div class="card">
                <img src="/imgs/blog11.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                </div>
            </div>
        </div>
        <div class=" col-md px-0 pl-1 mb-sm-4 px-1 zoom-ft">
            <div class="card">
                <img src="/imgs/blog-10.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                </div>
            </div>
        </div>
    </div>
    <nav class="container main-content d-flex justify-content-center pb-4 pt-6s pt-md-5" aria-label="Pagination">
        <ul class="pagination d-flex ml-0">
            <li class="page-item disabled">
                <a class="page-link previous" href="#" tabindex="-1" aria-disabled="true">Prev</a>
            </li>
            <li class="page-item disabled active no-border "><a class="page-link" href="#">1</a></li>
            <li class="page-item  " aria-current="page">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link next pl-1" href="/posts">Next</a>
            </li>
        </ul>
    </nav>
</section>

<% include partials/footer %>