<% include partials/header %>
<div class="container-fluid bg-white px-0">
    <div class="container-fluid pt-6s pb-6 bg-gradient bottom-rounded">
        <h1 class="text-center text-white display-5 mb-3">Content</h1>
        <p class="lead pb-5 text-center text-white">Home > Content</p>
        <h5 class=" pt-6s pt-sm-5 text-center text-white">What are you looking for?</h5>
        <div class="position-relative pt-5 srch">
            <form style="margin-bottom:-7.5rem;" action="">
                <input type="search">
                <i class="fas fa-search"></i>
            </form>
        </div>
    </div>
</div>
<div class="bg-white container-fluid px-0 pb-6 pt-3">
    <div class="main-content site-content">
        <div class="pt-6s text-center pb-5">
            <div class="text-center">
                <a href="#" class="btn btn-outline-primary rounded-pill btn-small px-4 pt-2 pb-2">All</a>
                <a href="/ringtones" class="btn btn-outline-primary rounded-pill px-4 ml-2 pt-2 pb-2">Ringtones</a>
            </div>
            <div class="mt-4">
                <a href="#" class="btn btn-outline-primary rounded-pill pt-2 pb-2">Wallpapers</a>
                <a href="#" class="btn btn-outline-primary rounded-pill pt-2 pb-2">Presets</a>
                <a href="#" class="btn btn-outline-primary rounded-pill pt-2 pb-2">Plugins</a>
            </div>
        </div>
        <h1 class="display-5 text-center pt-5 pb-1">Ringtones</h1>
        <p class="small text-center text-gray pb-3">Catch up the latest tunes!</p>
        <div class="row justify-content-center">
            <div class="col-6 col-md px-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-9.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
            <div class="col-6  ml-4 ml-md-4 col-md px-0 mx-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-9.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md mt-5 ml-0 ml-md-4 mt-md-0 px-0 mx-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-9.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 ml-4 ml-md-4 mt-5 mt-md-0 col-md px-0 mx-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-9.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-6">
            <a href="#" class="btn btn-outline load-more small rounded-pill">Browse More</a>
        </div>
        <h1 class="display-5 text-center pt-5 pb-1">Wallpapers</h1>
        <p class="small text-center text-gray pb-3">Get the super minimal walls available!</p>
        <div class="row justify-content-center">
            <div class="col-6 col-md px-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-2.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
            <div class="col-6  ml-4 ml-md-4  col-md px-0 mx-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-5.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md mt-5 ml-0 ml-md-4 mt-md-0 px-0 mx-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-6.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 ml-4 ml-md-4 mt-5 mt-md-0 col-md px-0 mx-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-7.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-6">
            <a href="#" class="btn btn-outline load-more small rounded-pill">Browse More</a>
        </div>
        <h1 class="display-5 text-center pt-5 pb-1">Apps</h1>
        <p class="small text-center text-gray pb-3">Get the super minimal walls available!</p>
        <div class="row justify-content-center apps">
            <div class="col-3 px-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-2.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small text-center">Secret App</p>
                    </div>
                </div>
            </div>
            <div class="ml-4 ml-md-4 col-3 px-0 mx-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-5.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small text-center">Secret App</p>
                    </div>
                </div>
            </div>
            <div class="col-3 ml-4  mt-md-0 px-0 mx-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-6.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small text-center">Secret App</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center apps">
            <div class="col-3 px-0">
                <div class="card mx-0">
                    <img src="/imgs/bg-img.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small text-center">Secret App</p>
                    </div>
                </div>
            </div>
            <div class="ml-4 ml-md-4 col-3 px-0 mx-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-5.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small text-center">Secret App</p>
                    </div>
                </div>
            </div>
            <div class="col-3 ml-4  mt-md-0 px-0 mx-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-6.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small text-center">Secret App</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-5">
            <a href="#" class="btn btn-outline load-more small rounded-pill">Browse More</a>
        </div>

        <h1 class="display-5 text-center pt-6s pb-1">Presets & Plugins</h1>
        <p class="small text-center text-gray pb-3">Enhance yourself with the best!</p>
        <div class="row main-content justify-content-center">
            <div class="col-sm-8 px-0">
                <div class="bd-example">
                    <div id="products" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#products" data-slide-to="0" class="active"></li>
                            <li data-target="#products" data-slide-to="1"></li>
                            <li data-target="#products" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="hover-option">
                                    <a href="/"><span class="plus-symbol">+</span></a>
                                </div>
                                <img src="/imgs/blog-9.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption   d-md-block">
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="hover-option">
                                    <a href="/"><span class="plus-symbol">+</span></a>
                                </div>
                                <img src="/imgs/blog-2.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption   d-md-block">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="hover-option">
                                    <a href="/"><span class="plus-symbol">+</span></a>
                                </div>
                                <img src="/imgs/blog11.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption   d-md-block">
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#products" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#products" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="display-5 text-center  mb-3 pt-5"><span>Our Blogs</span></h2>
        <div class="text-center"><span class="line d-block"></span></div>
        <div class="text-center mt-5">
            <a href="/blogs" class="btn btn-outline load-more small rounded-pill">Browse Now</a>
        </div>
    </div>
</div>

<% include partials/footer %>