<% include partials/header %>

<div class="container-fluid pt-6s pb-6 bg-gradient-rev">
    <h1 class="text-center text-white display-5 mb-3">Content</h1>
    <p class="lead pb-5 text-center text-gray">Home > Content</p>
    <h5 class="pt-6s pt-sm-5 text-center text-white">What are you looking for?</h5>
    <div class="position-relative pt-5 srch">
        <form action="">
            <input type="search">
            <i class="fas fa-search"></i>
        </form>
    </div>
</div>



<% include partials/footer %>