<% include partials/header %>
<div class="container-fluid pt-5  pb-6 text-white contact-us-gradient">
    <h1 class="display-4 text-center text-white mt-6">Contact Us</h1>
    <p class="lead text-center">Home > Contact Us</p>
</div>

<section class="container-fluid bg-white pt-5 pb-6">
    <p class="main-content ">
        It's nice to see you around here, Did you found any broken link? Facing issues while downloading or you simply
        want to reach out to us with new ideas, Please use the form below to contact us!
    </p>

</section>
<div class="bg-white mt-0">
    <div class="container main-content">
        <form class="comment">
            <div class="row">
                <div class="col-sm">
                    <textarea class=" bg-white rounded" placeholder="Write your message..."></textarea>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm">
                    <input class="bg-white rounded" type="text" placeholder="Name" required>
                </div>
                <div class="col-sm">
                    <input class="bg-white  rounded" type="email" placeholder="Email" required>
                </div>
                <div class="col-sm">
                    <input class="bg-white rounded" type="text" placeholder="Website(Optional)" required>
                </div>
            </div>
            <button class="btn btn-purple-color px-5 text-white btn-lg font-weight-bold  no-border-radius mt-4 mb-5"
                type="submit">Submit</button>
        </form>
    </div>
    <p class="main-content small text-center pt-3 pb-5">
        <strong>Note:</strong> Due to the timezone differences, our support team may take several hours to get in touch with you. We also
        sleep!
    </p>
</div>
<% include partials/footer %>