<% include partials/header %>

<div class="deleteForm">
    <form method="POST" action="/blogs/delete/<%= id %>?_method=DELETE">  
        <p class="text-primary">Are you sure you want to delete this post?</p>
        <div>
            <a class="btn btn-primary btn-lg" href="/blogs/list">No</a> 
            <button type="submit" class="btn btn-outline-danger btn-lg">Yes</button> 
        </div>

    </form>
</div>

<% include partials/footer %>