<% include partials/header %>
<div class="container-fluid pt-5  pb-6 text-white disclaimer-gradient">
    <h1 class="display-4 text-center text-white mt-6">Disclaimer</h1>
    <p class="lead text-center">Home > Disclaimer</p>
</div>
<section class="container-fluid bg-white pt-5">
    <div class="main-content pb-6">
        <p>
            All the information on this website is published in good faith and for general information purpose only.
            AndroCrunch.com does not make any warranties about the completeness, reliability and accuracy of this
            information. Any action you take upon the information you find on this website (AndroCrunch.com), is
            strictly at your own risk. AndroCrunch.com will not be liable for any losses and/or damages in connection
            with the use of our website.
        </p>
        <p>
            From our website, you can visit other websites by following hyperlinks to such external sites. While we
            strive to provide only quality links to useful and ethical websites, we have no control over the content and
            nature of these sites. These links to other websites do not imply a recommendation for all the content found
            on these sites. Site owners and content may change without notice and may occur before we have the
            opportunity to remove a link which may have gone BAD.

        </p>
        <p>
            Please be also aware that when you leave our website, other sites may have different privacy policies and
            terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as
            their Terms of Service before engaging in any business or uploading any information.

        </p>
        <h1 class="diaplay-5 block-title mt-6 mb-4">Consent</h1>
        <p>By using our website, you hereby consent to our disclaimer and agree to its terms.</p>
        <h1 class="display-5 block-title mt-6 mb-4">Copyrigth Infringement</h1>
        <p>If you are the copyright owner of any respective file posted here, please email us at <span style="color:#6600ff">wecare@androcrunch</span>
            .com with valid documents and we will remove the file in 24 hours.</p>
        <h1 class="display-5 block-title mt-6 mb-4">Downloading</h1>
        <p class="mb-0 pb-6">All our Files are Scanned for VIRUSES and is/are FREE from Viruses and Trojans but we hereby do not take any
            guarantee for any issues which may occur.</p>
    </div>
</section>
<% include partials/footer %>