<% include partials/header %>

<section class="bg-gradient pt-6s pb-6 container-fluid">
    <div class="jumbotron dark-purple text-white">
        <h1 class="display-4">ERROR: <%= code %></h1>
        <p class="lead"><%= message %></p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Back to Homepage</a>
      </div>
</section>

<% include partials/footer %>