<% include partials/header %>

<section class="bg-gradient pt-6s pb-6 container-fluid">
    <div class="jumbotron dark-purple text-dark bg-white main-content">
        <h1 class="display-5">ERROR: <span class="text-danger"><%= code %></span></h1>
        <p class="lead"><%= message %></p>
        <a class="btn btn-purple-color text-white" href="/" role="button">Back to Homepage</a>
      </div>
</section>

<% include partials/footer %>