<% include partials/header %>
<div style="border-radius:0;" class="jumbotron-fluid top-section text-white mb-5 pt-0 transparent">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="display-4">India's <span class="text-warning">#1</span> <br> Digital Store !</h1>
    <p class="lead">Looking for some new amazing Ringtones, Wallpapers, Apps, etc ?</p>
    <!-- <hr class="my-4 text-secondary"> -->
    <p>The all in one place for your, <br> Smartphone's necessity</p>
    <div class="jumbo-button">
        <a class="btn  text-white btn-purple-color rounded-pill btn-lg" href="#" role="button">EXPLORE...</a>
        <a class="btn btn-outline rounded-pill btn-lg ml-3" href="#" role="button">Take a Tour</a>
    </div>
</div>
<div class="container-fluid pt-6 search-box mb-6 mt-6">
    <div class="bg-light container rounded">
        <h1 class="display-5 text-center">What are you looking for?</h1>
        <div class="input-group mb-3 ">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary dropdown-toggle dark-purple search-dropdown text-white"
                    type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <input type="text" class="form-control" aria-label="Text input with dropdown button">
            <button class="btn dark-purple search-btn no-border" type="submit"><img class="svg-icon no-border"
                    src="/imgs/search.svg"></button>
        </div>
    </div>
</div>

<div class="container-fluid  bg-white mb-6">
    <h1 class="display-5 text-center padding-top text-dark-purple">The Most Popular Ones</h1>
    <p class="lead text-center text-light-purple">we handpicked these items below</p>
    <br>
    <div class="container top-section">
        <div class="row">
            <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                <div class="MultiCarousel-inner">
                    <div class="item">
                        <div class="pad15">
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary leftLst">
                    <</button> <button id="right-move" class="btn btn-primary rightLst">>
                </button>
            </div>
        </div>
        <div class="padding-top"></div>
    </div>
</div>
<% include partials/footer %>