<% include partials/header %>
<div class="container-fluid pt-6 bg-image pb-4">
    <div style="border-radius:0;" class="jumbotron-fluid top-section main-content text-white">
        <h1 class="display-4 mb-4">India's <span style="color:#ffff33;">#1</span> <br> Digital Store !</h1>
        <p class="lead">Looking for some new amazing Ringtones, Wallpapers, Apps, etc ?</p>
        <p class="text-white">The all in one place for your, <br> Smartphone's necessity</p>
        <div class="jumbo-button">
            <a class="btn  text-white btn-purple-color rounded-pill btn-lg" href="/products"
                role="button">EXPLORE...</a>
            <a id="take-a-tour" class="btn btn-outline rounded-pill btn-lg ml-3" href="#" role="button">Take a
                Tour</a>
        </div>
    </div>
</div>
<div class="container-fluid search-box pt-6s pb-1 bg-white">
    <div class="bg-white container rounded">
        <h1 class="display-6 text-center">What are you looking for?</h1>
        <div class="input-group mb-2 ">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary dropdown-toggle  search-dropdown text-white" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <input type="text" class="form-control" aria-label="Text input with dropdown button"
                placeholder="Type & Hit Enter">
            <button class="btn dark-purple search-btn no-border" type="submit"><img class="svg-icon no-border"
                    src="/imgs/search.svg"></button>
        </div>
    </div>
</div>

</div>
<div class="container-fluid bg-white home-selected">
    <div class="pt-6s">
        <h1 class="display-5 font-weight-bold text-center padding-top text-dark-purple pt-6 pt-md-1">The Most Popular
            Ones</h1>
        <p class="lead text-center text-light-purple">we handpicked these items below</p>
        <br>
    </div>
    <div class="row main-content pt-1 justify-content-center">
        <div class="col-sm- px-0">
            <div class="card mx-0 mb-3 head">
                <img src="/imgs/blog-9.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="tags mb-0">MAC, WALLPAPERS</p>
                    <h5 class="card-title absolutte-card-title">HD Mac Wallpapers</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-12 px-0">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <div class="card mx-0 mb-3">
                        <img src="/imgs/blog11.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="tags">ANIMALS, RINGTONE</p>
                            <h5 class="card-title absolutte-card-title">Twenty One facts about common animals you did not knew!</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mx-0 mb-3">
                        <img src="/imgs/blog-2.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="tags">PLACES, WORLD, BLOG</p>
                            <h5 class="card-title absolutte-card-title">21 Best Places to go for trekking this year with your friends!</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<section>
    <div class="container-fluid bg-white pb-6">
        <h1 class="display-5 text-center pt-5 pb-5">Newly Added Products</h1>
        <div class="row main-content justify-content-center">
            <div class="col-sm-8 px-0">
                <div class="bd-example">
                    <div id="products" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#products" data-slide-to="0" class="active"></li>
                            <li data-target="#products" data-slide-to="1"></li>
                            <li data-target="#products" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/imgs/blog-9.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption   d-md-block">
                                    <h5>First slide label</h5>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/imgs/blog-2.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption   d-md-block">
                                    <h5>Second slide label</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/imgs/blog11.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption   d-md-block">
                                    <h5>Third slide label</h5>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#products" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#products" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center pb-5 pt-5">
            <a href="/products" class="btn px-4 pt-2 pb-2 btn-outline load-more btn-md small rounded-pill">LOAD
                MORE...</a>
        </div>
    </div>

</section>

<div class="container-fluid statistics px-0">
    <div class="container-fluid">
        <h1 class="display-5 text-white text-center font-weight-bold pb-5">Our Performances Statistics</h1>
        <p class="lead text-center text-white mb-6 pb-6">Don't just take our word for it.<br>
            Trusted by 100000+ people in every state in India and Worldwide</p>
    </div>
    <div class="container-fluid pb-6 bg-white">
        <div id="stats" class="row justify-content-center">
            <div class="col-sm">
                <p class="hits text-center">
                    <span id="premium-stuffs">1279</span><br>
                    <span class="lead">PREMIUM STUFFS</span>
                </p>
            </div>
            <div class="col-sm">
                <p class="hits text-center">
                    <span id="downloads">22551649</span><br>
                    <span class="lead">TOTAL DOWNLOADS</span>
                </p>
            </div>
            <div class="col-sm">
                <p class="hits text-center">
                    <span id="notify-squad">185611</span><br>
                    <span class="lead">NOTIFICATION SQUAD</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-white blog-posts pb-6">
    <h2 class="display-5 text-center text-dark-purple mb-5"><span>Latest Blog Posts</span></h2>
    <div class="row main-content justify-content-center">
        <div class="col-md px-0">
            <div class="card mx-0 mx-sm-1">
                <img src="/imgs/blog11.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="tags">ANDROID, TRICKS</p>
                    <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                    <p class="date">FEB 10, 2019</p>
                </div>
            </div>
        </div>
        <div class="col-md px-0">
            <div class="card mx-0 mx-sm-1">
                <img src="/imgs/blog11.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="tags">ANDROID, TRICKS</p>
                    <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                    <p class="date">FEB 10, 2019</p>
                </div>
            </div>
        </div>
        <div class="col-md px-0">
            <div class="card mx-0 mx-sm-1">
                <img src="/imgs/blog11.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="tags">ANDROID, TRICKS</p>
                    <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                    <p class="date">FEB 10, 2019</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-5">
        <a href="#" class="btn btn-outline load-more small rounded-pill">Browse More</a>
    </div>
</div>

<% include partials/footer %>