<% include partials/header %>

<div class="part">
        <div id="particles-js"></div>
        <div class="jumbotron head ml-0 mb-0">
            <h1 class="display-3 text-white box"> A PLACE MADE WITH LOVE</h1>
            <p class="lead text-white">Looking for some new amazing Ringtones, Wallpappers, Apps, etc?</p>
            <p class="text-secondary">The all i one placefor your, <br>
                Smart Phone's Necessity
            </p>
            <br>
            <a class="btn bg-warning btn-lg rounded-pill" href="#" role="button">EXPLORE...</a>
        </div>
    </div>

<div class="container-fluid mid-section mt-0 bg-light">
    <div class="jumbotron-fluid row">
        <div class="col-sm">
            <h1 class="display-2">FREE !</h1>
            <span class="lead">A 100% completely FREE platform. Ready to <br>
                find your next favourite WALLPAPERS?
                <br>
                There you go :)
            </span>

        </div>
        <div class="col-sm ">
            <img class="thumbnail" src="/imgs/phone.png">
        </div>


    </div>
</div>
<div></div>

<!-- scripts -->
<script src="/js/particles.js"></script>
<script src="/js/particles-run.js"></script>

<% include partials/footer %>