<% include partials/header %>

<div class="part">
    <div id="particles-js"></div>
    <div class="jumbotron head">
        <div class="box"></div>
        <h1 class="display-3 text-white titlecontent"> A PLACE <br> MADE WITH <br> LOVE</h1>
        <p class="lead text-white">Looking for some new amazing Ringtones, Wallpappers, Apps, etc?</p>
        <p class="text-secondary">The all in one placefor your, <br>
            Smart Phone's Necessity
        </p>
        <br>
        <a class="explore-btn btn bg-warning btn-lg rounded-pill" href="#" role="button">EXPLORE...</a>
    </div>
</div>
<div class="container-fluid mid-section mt-0 bg-light">
    <div class="jumbotron-fluid row p-0 m-0 module">
        <div class="col-lg ">
            <h1 class="display-2 anim">FREE !</h1>
            <p class="lead text-info ">A 100% completely FREE platform. Ready to <br>
                find your next favourite WALLPAPERS?
                <br>
                There you go :)
            </p>

        </div>
        <div class="col-lg module column-css">
            <img class="thumbnail" src="/imgs/phone.png">
        </div>
    </div>
</div>

<!-- <div class="bottom module">
    <img src="/imgs/scroll.png">
</div> -->
<!-- scripts -->
<script src="/js/particles.js"></script>
<script src="/js/particles-run.js"></script>

<% include partials/footer %>