<% include partials/header %>

<div class="bg-white">
    <div class="container-fluid pt-6s bg-image pb-4">
        <div style="border-radius:0;" class="jumbotron-fluid top-section main-content text-white">
            <h1 style="font-size:2.8rem;" class="mb-4 font-weight-bold text-center text-sm-left">India's <span style="color:#ffff33;">#1</span> <br>
                Digital Store !</h1>
            <p class="text-center text` text-sm-left small">The all in one place for your, <br> Smart Phone's Necessity</p>
            </p>
            <div class="jumbo-button pb-6 p-1 pt-4">
                <a class="btn  text-white btn-purple-color rounded-pill btn-sm px-4 pt-2 pb-2" href="/products"
                    role="button">EXPLORE...</a>
                <a class="btn btn-outline rounded-pill btn-sm p-0 px-4 pt-2 pb-2 ml-3" href="#" role="button">Take a
                    Tour</a>
            </div>
        </div>
        <h5 class=" pt-6s pt-sm-5 text-center text-white">What are you looking for?</h5>
        <div class="position-relative pt-5 srch">
            <form action="">
                <input type="search">
                <i class="fas fa-search"></i>
              </form>
        </div>
    </div>
</div>


<section>
    <div class="container-fluid bg-white pb-6 pt-6">
        <h1 class="display-5 text-center pt-4 pb-1">The Most Popular Ones</h1>
        <p class="small text-center text-gray pb-3">We handpicked these items below!</p>
        <div class="row main-content justify-content-center">
            <div class="col-sm-8 px-0">
                <div class="bd-example">
                    <div id="products" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#products" data-slide-to="0" class="active"></li>
                            <li data-target="#products" data-slide-to="1"></li>
                            <li data-target="#products" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="hover-option">
                                    <a href="/"><span class="plus-symbol">+</span></a>
                                </div>
                                <img src="/imgs/blog-9.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption   d-md-block">
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="hover-option">
                                    <a href="/"><span class="plus-symbol">+</span></a>
                                </div>
                                <img src="/imgs/blog-2.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption   d-md-block">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="hover-option">
                                    <a href="/"><span class="plus-symbol">+</span></a>
                                </div>
                                <img src="/imgs/blog11.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption   d-md-block">
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#products" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#products" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid bg-white pb-6">
    <h1 class="display-5 text-center pt-6s pb-1">Newly added products</h1>
    <p class="small text-gray text-center">our most recent downloads</p>
    <div class="container-fluid main-content horizontal-scroll px-0">
        <div class="scroll-top">
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
        </div>
        <div class="scroll-top">
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
        </div>
    </div>
    <div class="text-center mt-6">
            <a href="#" class="btn btn-outline load-more small rounded-pill">Browse More</a>
        </div>
</section>
<div class="container-fluid statistics px-0">
    <div class="container-fluid">
        <h1 class="display-5 text-white text-center font-weight-bold pb-5">Our Performances Statistics</h1>
        <p class="lead text-center text-white mb-6 pb-6">Don't just take our word for it.<br>
            Trusted by 100000+ people in every state in India and Worldwide</p>
    </div>
    <div class="container-fluid pb-6 bg-white">
        <div id="stats" class="row justify-content-center">
            <div class="col-sm">
                <p class="hits text-center">
                    <span id="premium-stuffs">1279</span><br>
                    <span class="lead">PREMIUM STUFFS</span>
                </p>
            </div>
            <div class="col-sm">
                <p class="hits text-center">
                    <span id="downloads">22551649</span><br>
                    <span class="lead">TOTAL DOWNLOADS</span>
                </p>
            </div>
            <div class="col-sm">
                <p class="hits text-center">
                    <span id="notify-squad">185611</span><br>
                    <span class="lead">NOTIFICATION SQUAD</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-white blog-posts pb-6">
    <h2 class="display-5 text-center text-dark-purple mb-5 pt-5"><span>Latest Blog Posts</span></h2>
    <div class="row main-content justify-content-center">
        <div class="col-md">
            <div class="card mx-sm-1 mt-5 ">
                <img src="/imgs/blog11.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="tags">ANDROID, TRICKS</p>
                    <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                    <p class="date">FEB 10, 2019</p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card mx-sm-1 mt-5 ">
                <img src="/imgs/blog11.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="tags">ANDROID, TRICKS</p>
                    <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                    <p class="date">FEB 10, 2019</p>
                </div>
            </div>
        </div>
        <div class="col-md ">
            <div class="card mx-sm-1 mt-5 ">
                <img src="/imgs/blog11.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="tags">ANDROID, TRICKS</p>
                    <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                    <p class="date">FEB 10, 2019</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-3 pb-6">
        <a href="#" class="btn btn-outline load-more small rounded-pill">Browse More</a>
    </div>
</div>

<% include partials/footer %>