<% include partials/header %>

<div class="part">
    <div id="particles-js" aria-readonly="true"></div>
    <div class="jumbotron head">
        <div class="box"></div>
        <h1 class="display-3 text-white titlecontent"> A PLACE <br> MADE WITH <br> LOVE</h1>
        <p class="lead text-white">Looking for some new amazing Ringtones, Wallpappers, Apps, etc?</p>
        <p class="text-secondary">The all in one placefor your, <br>
            Smart Phone's Necessity
        </p>
        <br>
        <a class="explore-btn btn bg-warning btn-md rounded-pill" href="#" role="button">EXPLORE...</a>
    </div>
</div>

<section>
    <div class="blog-post container-fluid">
        <h2>Last three post!</h2>
        <div class="row">
            <div class="col-md">
                <div class="card">
                    <img src="/imgs/polar-bear.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Polar Bear</h5>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nam
                            laudantium nostrum nulla officia blanditiis dolores adipisci quos architecto voluptatibus!
                            Architecto non suscipit cumque? Possimus maiores eos quasi neque placeat facere fuga ipsa
                            modi cupiditate odio. Rem doloribus dolorem quo illum, error maxime, consectetur voluptates
                            veritatis similique voluptatum quam in.</p>
                        <a href="#" class="btn btn-primary">View Post</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card">
                    <img src="/imgs/cat.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">White Cat</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit quos est
                            ex necessitatibus voluptatum deleniti error vel quasi quisquam accusamus.</p>
                        <a href="#" class="btn btn-primary">View Post</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card">
                    <img src="/imgs/house.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Party House</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur enim
                            quas est id laudantium perspiciatis, iusto odio quibusdam atque, odit minima nesciunt rerum
                            asperiores dolore veniam excepturi non commodi architecto esse porro! Magnam autem
                            consequuntur, error ducimus accusantium alias ullam sequi incidunt in minus nulla quis,
                            perferendis doloremque aliquam id. Dolores voluptate iusto soluta accusantium, autem neque.
                            Dolorem, quibusdam a.</p>
                        <a href="#" class="btn btn-primary">View Post</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<article class="container section games module">
    <div class="jumbotron ">
        <h1 class="display-4">Games</h1>
        <p class="lead text-info">We have free games, ready to be downloaded by you!</p>
        <hr class="my-4">
        <p>The apps are gathered from various sources and contains links to specific download.</p>
        <a class="btn btn-secondary btn-md" href="#" role="button"><img class="svg-icon" src="/imgs/games.svg">Forward
            to AppStore</a>

    </div>
</article>

<article class="container section wallpapers module">
    <div class="jumbotron">
        <h1 class="display-4">Wallpappers</h1>
        <p class="lead text-secondary">All the wallpapers are hand selected from free and open sources!</p>
        <hr class="my-4">
        <p>We have HD wallpapers for all sizes of devices from smartphones to desktop.</p>
        <a class="btn btn-primary btn-md" href="#" role="button"><img class="svg-icon" src="/imgs/wallpaper.svg">View
            Wallpapers</a>
    </div>
</article>
<article class="container section ringtones module">
    <div class="jumbotron">
        <h1 class="display-4">Ringtones</h1>
        <p class="lead text-warning">We have a large collection of Rigtones available to download anytime!</p>
        <hr class="my-4">
        <p>Ringtones are in various formats and quality feel free to choose one and don't forget to share it!</p>
        <a class="btn btn-danger btn-md" href="#" role="button"><img class="svg-icon" src="/imgs/music.svg">Get
            Ringtones</a>
    </div>
</article>
<!-- scripts -->
<script src="/js/particles.js"></script>
<script src="/js/particles-run.js"></script>

<% include partials/footer %>