<% include partials/header %>

<div class="bg-white">
    <div class="container-fluid pt-6s bg-image pb-4">
        <div style="border-radius:0;" class="jumbotron-fluid top-section main-content text-white">
            <h1 style="font-size:2rem;" class="mb-2 font-weight-bold text-center text-white">India's
                <span style="color:#ffff33;">#1</span>
                Digital Store !</h1>
            <p class="text-center small">Welcome to AndroCrunch, the all in one place for your, Smart Phone's Necessity
            </p>
            </p>
            <div class="jumbo-button p-1 pt-5">
                <a class="btn  text-white btn-purple-color rounded-pill btn-md px-3 px-sm-4 font-weight-bold"
                    href="/contents" role="button">EXPLORE...</a>
                <a class="btn btn-outline rounded-pill btn-md px-3 px-sm-4  ml-3 font-weight-bold" href="#"
                    role="button">Take a
                    Tour</a>
            </div>
        </div>
        <p class="pt-6s text-center text-white small">What are you looking for?</p>
        <div class="position-relative pt-5 srch">
            <form action="">
                <input type="search" placeholder="Wallpapers, apps and ringtones">
                <i class="fas fa-search"></i>
            </form>
        </div>
    </div>
</div>

<section>
    <div class="container-fluid bg-white pb-6 pt-5">
        <h1 class="display-5 text-center pt-6s pb-1">The Most Popular Ones</h1>
        <p class="small text-center text-gray pb-3">We handpicked these items below!</p>
        <div class="row justify-content-center most-popular">
            <div class="col-sm px-0 mt-4">
                <div class="bd-example">
                    <div id="wallpapers" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#wallpapers" data-slide-to="0" class="active"></li>
                            <li data-target="#wallpapers" data-slide-to="1"></li>
                            <li data-target="#wallpapers" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="hover-option">
                                    <a href="/"><span class="plus-symbol">+</span></a>
                                </div>
                                <img src="/imgs/blog-9.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption   d-md-block">
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="hover-option">
                                    <a href="/"><span class="plus-symbol">+</span></a>
                                </div>
                                <img src="/imgs/blog-2.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption   d-md-block">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="hover-option">
                                    <a href="/"><span class="plus-symbol">+</span></a>
                                </div>
                                <img src="/imgs/blog11.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption   d-md-block">
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#wallpapers" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#wallpapers" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-sm px-0 mt-4">
                <div class="bd-example">
                    <div id="ringtones" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#ringtones" data-slide-to="0" class="active"></li>
                            <li data-target="#ringtones" data-slide-to="1"></li>
                            <li data-target="#ringtones" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="hover-option">
                                    <a href="/"><span class="plus-symbol">+</span></a>
                                </div>
                                <img src="/imgs/blog-9.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption   d-md-block">
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="hover-option">
                                    <a href="/"><span class="plus-symbol">+</span></a>
                                </div>
                                <img src="/imgs/blog-2.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption   d-md-block">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="hover-option">
                                    <a href="/"><span class="plus-symbol">+</span></a>
                                </div>
                                <img src="/imgs/blog11.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption   d-md-block">
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#ringtones" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#ringtones" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm px-0 mt-4">
                <div class="bd-example">
                    <div id="apps" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#apps" data-slide-to="0" class="active"></li>
                            <li data-target="#apps" data-slide-to="1"></li>
                            <li data-target="#apps" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="hover-option">
                                    <a href="/"><span class="plus-symbol">+</span></a>
                                </div>
                                <img src="/imgs/blog-9.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption   d-md-block">
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="hover-option">
                                    <a href="/"><span class="plus-symbol">+</span></a>
                                </div>
                                <img src="/imgs/blog-2.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption   d-md-block">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="hover-option">
                                    <a href="/"><span class="plus-symbol">+</span></a>
                                </div>
                                <img src="/imgs/blog11.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption   d-md-block">
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#apps" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#apps" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="container-fluid bg-white pb-6">
    <h1 class="display-5 text-center pt-4 pt-sm-6 pb-1">Explore By Category</h1>
    <p class="small text-gray text-center">select the specific genre</p>
    <div class="container-fluid  horizontal-scroll px-0">
        <div class="scroll-top d-flex justify-content-center">
            <div class="scroll-item">
                <img src="/imgs/wallpapers.jpg" alt="Select">
                <p class="category">Wallpapers</p>
            </div>
            <div class="scroll-item">
                <img src="/imgs/ringtones.jpg" alt="Select">
                <p class="category">Ringtones</p>
            </div>
            <div class="scroll-item">
                <img src="/imgs/apps.jpg" alt="Select">
                <p class="category">Applications</p>
            </div>
            <div class="scroll-item">
                <img src="/imgs/presets.jpg" alt="Select">
                <p class="category pl-4">Presets</p>
            </div>
        </div>
    </div>
    <div class="text-center mt-6">
        <a href="#" class="btn btn-outline load-more small rounded-pill">Browse More</a>
    </div>
</section>
<div class="container-fluid statistics bg-gradient px-0">
    <div class="container-fluid">
        <h1 class="display-5 text-white text-center font-weight-bold pb-5">Our Performances Statistics</h1>
        <p class="lead text-center text-white mb-6 pb-6">Don't just take our word for it.<br>
            Trusted by 100000+ people in every state in India and Worldwide</p>
    </div>
    <div class="container-fluid pb-6 bg-white">
        <div id="stats" class="row justify-content-center">
            <div class="col-sm">
                <p class="hits text-center">
                    <span id="premium-stuffs">1279</span><br>
                    <span class="lead">PREMIUM STUFFS</span>
                </p>
            </div>
            <div class="col-sm">
                <p class="hits text-center">
                    <span id="downloads">22551649</span><br>
                    <span class="lead">TOTAL DOWNLOADS</span>
                </p>
            </div>
            <div class="col-sm">
                <p class="hits text-center">
                    <span id="notify-squad">185611</span><br>
                    <span class="lead">NOTIFICATION SQUAD</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-white blog-posts pb-6">
    <h1 class="display-5 text-center text-dark-purple mb-5 pt-5"><span>Latest Blog Posts</span></h1>
    <div class="row main-content justify-content-center">
        <div class="col-md">
            <div class="card mx-sm-1 mt-5 ">
                <img src="/imgs/blog11.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="tags">ANDROID, TRICKS</p>
                    <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                    <p class="date">FEB 10, 2019</p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card mx-sm-1 mt-5 ">
                <img src="/imgs/blog11.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="tags">ANDROID, TRICKS</p>
                    <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                    <p class="date">FEB 10, 2019</p>
                </div>
            </div>
        </div>
        <div class="col-md ">
            <div class="card mx-sm-1 mt-5 ">
                <img src="/imgs/blog11.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="tags">ANDROID, TRICKS</p>
                    <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                    <p class="date">FEB 10, 2019</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-3 pb-6">
        <a href="#" class="btn btn-outline load-more small rounded-pill">Browse More</a>
    </div>


</div>

<div class="testimonial-bg pt-3">
    <div class="container-fluid pt-6s pb-6 mx-0 justify-content-center">
        <img class="d-block  ml-auto mr-auto mb-5" src="/imgs/test-1.png">
        <div>
            <p class="font-weight-bold text-center text-white">EVEL ADAMS</p>
            <p class="small font-italic text-center text-white">Designer/Singer</p>
            <p class="text-white text-center small">Lorem ipsum dolor sit amet consectetur adipisicing elit.Tempora
                provident
                dolore obcaecati. <br>Velit neque voluptatum asperiores.Commodi in quod voluptatem.</p>
        </div>
    </div>
</div>

<div aria-describedby="About Androcrunch website"
    class="bg-white mx-0 container-fluid d-flex justify-content-center pb-5">
    <div class="row bg-white w-75">
        <div class="col-sm">
            <p style="font-size: 2.5rem;" class="text-center text-lg-right font-weight-bold text-primary pt-6s">About
                AndroCrunch</p>
            <p class="text-center text-lg-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ipsa
                expedita
                veniam amet sequi consequatur ab laborum pariatur molestiae commodi doloribus corrupti quam nihil,
                dolorem a mollitia omnis optio quisquam culpa repudiandae? Iste quos autem aut voluptas nam sed libero
                in, totam ratione officiis vel magnam fugiat repellat suscipit odio?</p>
            <a class="btn btn-md float-right btn-primary rounded-pill text-white">Learn More</a>
        </div>
    </div>
</div>

<% include partials/footer %>