<% include partials/header %>

<div class="part">
    <div class="jumbotron head">
        <div class="box"></div>
        <h1 class="display-3 text-white titlecontent"> A PLACE <br> MADE WITH <br> LOVE</h1>
        <p class="lead text-white">Looking for some new amazing Ringtones, Wallpappers, Apps, etc?</p>
        <p class="text-secondary">The all in one placefor your, <br>
            Smart Phone's Necessity
        </p>
        <br>
        <a class="explore-btn btn bg-warning btn-lg rounded-pill" href="#" role="button">EXPLORE...</a>
    </div>
</div>
<article class="container section games">
    <div class="jumbotron ">
        <h1 class="display-4">Games</h1>
        <p class="lead text-info">We have free games, ready to be downloaded by you!</p>
        <hr class="my-4">
        <p>The apps are gathered from various sources and contains links to specific download.</p>
        <a class="btn btn-secondary btn-lg" href="#" role="button"><img class="svg-icon" src="/imgs/games.svg">Forward to AppStore</a>
        
    </div>
</article>

<article class="container section wallpapers">
    <div class="jumbotron">
        <h1 class="display-4">Wallpappers</h1>
        <p class="lead text-secondary">All the wallpapers are hand selected from free and open sources!</p>
        <hr class="my-4">
        <p>We have HD wallpapers for all sizes of devices from smartphones to desktop.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button"><img class="svg-icon" src="/imgs/wallpaper.svg">Forward to Wallpaper Gallery</a>
    </div>
</article>
<article class="container section ringtones">
    <div class="jumbotron">
        <h1 class="display-4">Ringtones</h1>
        <p class="lead">We have a large collection of Rigtones available to download anytime!</p>
        <hr class="my-4">
        <p>Ringtones are in various formats and quality feel free to choose one and don't forget to share it!</p>
        <a class="btn btn-danger btn-lg" href="#" role="button"><img class="svg-icon" src="/imgs/music.svg">Forward to Ringtones Store</a>
    </div>
</article>
<!-- scripts -->
<script src="/js/particles.js"></script>
<script src="/js/particles-run.js"></script>

<% include partials/footer %>