<% include partials/header %>
<div class="bg-gradient container-fluid pt-6">
    <div style="border-radius:0;" class="jumbotron-fluid top-section main-content text-white mb-3 transparent">

        <h1 class="display-4 mb-5">India's <span style="color:#ffff33;">#1</span> <br> Digital Store !</h1>
        <p class="lead">Looking for some new amazing Ringtones, Wallpapers, Apps, etc ?</p>
        <p class="text-white">The all in one place for your, <br> Smartphone's necessity</p>
        <div class="jumbo-button">
            <a class="btn  text-white btn-purple-color rounded-pill btn-lg" href="/products"
                role="button">EXPLORE...</a>
            <a id="take-a-tour" class="btn btn-outline rounded-pill btn-lg ml-3" href="#" role="button">Take a Tour</a>
        </div>
    </div>
    <div class="container-fluid pt-5 search-box">
        <div class="bg-white container rounded">
            <h1 class="display-5 text-center">What are you looking for?</h1>
            <div class="input-group mb-3 ">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle  search-dropdown text-white" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button"
                    placeholder="Type & Hit Enter">
                <button class="btn dark-purple search-btn no-border" type="submit"><img class="svg-icon no-border"
                        src="/imgs/search.svg"></button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid  bg-white font-weight-bold">
    <div class="dropdown-divider"></div>
    <div class="pt-6">
        <h1 class="display-5 font-weight-bold text-center padding-top text-dark-purple">The Most Popular Ones</h1>
        <p class="lead text-center text-light-purple">we handpicked these items below</p>
        <br>
        <div class="container-fluid top-section">
            <div class="row">
                <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                    <div class="MultiCarousel-inner">
                        <div class="item">
                            <div class="pad15">
                                <div class="item-info">
                                    <span><span class="plus-symbol">+</span></span>
                                </div>
                                <p class="lead">Multi Item Carousel</p>
                                <p>₹ 1</p>
                                <p>₹ 6000</p>
                                <p>50% off</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <div class="item-info">
                                    <span>
                                        <!-- <img class="svg-icon" src="/imgs/add.svg"> -->
                                        <span class="plus-symbol">+</span>
                                    </span>
                                </div>
                                <p class="lead">Multi Item Carousel</p>
                                <p>₹ 1</p>
                                <p>₹ 6000</p>
                                <p>50% off</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <div class="item-info">
                                    <span><span class="plus-symbol">+</span></span>
                                </div>
                                <p class="lead">Multi Item Carousel</p>
                                <p>₹ 1</p>
                                <p>₹ 6000</p>
                                <p>50% off</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <div class="item-info">
                                    <span><span class="plus-symbol">+</span><span>
                                </div>
                                <p class="lead">Multi Item Carousel</p>
                                <p>₹ 1</p>
                                <p>₹ 6000</p>
                                <p>50% off</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <div class="item-info">
                                    <span><span class="plus-symbol">+</span><span>
                                </div>
                                <p class="lead">Multi Item Carousel</p>
                                <p>₹ 1</p>
                                <p>₹ 6000</p>
                                <p>50% off</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <div class="item-info">
                                    <span><span class="plus-symbol">+</span><span>
                                </div>
                                <p class="lead">Multi Item Carousel</p>
                                <p>₹ 1</p>
                                <p>₹ 6000</p>
                                <p>50% off</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <div class="item-info">
                                    <span><span class="plus-symbol">+</span><span>
                                </div>
                                <p class="lead">Multi Item Carousel</p>
                                <p>₹ 1</p>
                                <p>₹ 6000</p>
                                <p>50% off</p>
                            </div>
                        </div>
                    </div>
                    <button class="btn  leftLst">
                        <</button> <button id="right-move" class="btn  rightLst right-move">>
                    </button>
                </div>
            </div>
            <div class="padding-top"></div>
        </div>
    </div>

</div>
<section>
    <div class="container-fluid bg-white pb-6">
        <h1 class="display-5 text-center pt-5">Newly Added Products</h1>
        <div class="container mt-5 pb-5">
            <div class="row justify-content-around ">
                <div class="col-md product-box dark-purple rounded">
                    Product
                </div>
                <div class="col-md product-box dark-purple rounded">
                    One of three columns
                </div>
                <div class="col-md product-box dark-purple rounded">
                    One of three columns
                </div>
                <div class="col-md product-box dark-purple rounded">
                    One of three columns
                </div>

            </div>
            <div class="row justify-content-around">
                <div class="col-md product-box dark-purple  rounded">
                    Product
                </div>

                <div class="col-md product-box dark-purple rounded">
                    One of three columns
                </div>
                <div class="col-md product-box dark-purple rounded">
                    One of three columns
                </div>
                <div class="col-md product-box dark-purple rounded">
                    One of three columns
                </div>

            </div>

        </div>
        <div class="d-flex justify-content-center pb-5 ">
            <a href="/products" class="btn px-5 pt-3 pb-3 load-more text-white">LOAD MORE...</a>
        </div>
    </div>

</section>

<div class="container-fluid statistics px-0">
    <div class="container-fluid">
        <h1 class="display-5 text-white text-center font-weight-bold pb-5">Our Performances Statistics</h1>
        <p class="lead text-center text-white mb-6 pb-6">Don't just take our word for it.<br>
            Trusted by 100000+ people in every state in India and Worldwide</p>
    </div>
    <div class="container-fluid pb-6 bg-white">
        <div id="stats" class="row justify-content-center">
            <div class="col-sm">
                <p class="hits text-center">
                    <span id="premium-stuffs">1279</span><br>
                    <span class="lead">PREMIUM STUFFS</span>
                </p>
            </div>
            <div class="col-sm">
                <p class="hits text-center">
                    <span id="downloads">22551649</span><br>
                    <span class="lead">TOTAL DOWNLOADS</span>
                </p>
            </div>
            <div class="col-sm">
                <p class="hits text-center">
                    <span id="notify-squad">185611</span><br>
                    <span class="lead">NOTIFICATION SQUAD</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-white blog-posts pb-6">
    <h2 class="display-5 text-center text-dark-purple mb-5"><span>Latest Blog Posts</span></h2>
    <div class="container pb-6">
        <div class="row justify-content-center">
            <div class="col-lg blog-icon">
                <img src="/imgs/blog.svg" alt="Blog reference icon">
            </div>
            <div class="col-lg px-0">
                <div class="row mt-0">
                    <div class="col-1 img-icon">
                        <img src="/imgs/logo.png">
                    </div>
                    <div class="col justify-content-end">
                        <span class="post-title">Android Q - Latest Top 5 Features</span><br>
                        <span class="post-date">25 February</span>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-1 img-icon">
                        <img src="/imgs/logo.png">
                    </div>
                    <div class="col justify-content-end">
                        <span class="post-title">Android Q - Latest Top 5 Features</span><br>
                        <span class="post-date">25 February</span>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-1 img-icon">
                        <img src="/imgs/logo.png">
                    </div>
                    <div class="col justify-content-end">
                        <span class="post-title">Android Q - Latest Top 5 Features</span><br>
                        <span class="post-date">25 February</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    window.onload = function () {
        var page = $("html, body");
        $(document).on('mousemove', function () {
            page.stop();
        });
    }
</script>
<% include partials/footer %>