<% include partials/header %>
<br>
<br>
<br>
<section class="container-fluid  pt-5 pb-6">
    <div class="container px-5 main-content">
        <div class="row">
            <div class="col-md item-image bg-gradient">

            </div>
            <div class="col-md-7 item-details">
                <div class="breadcrump text-gray mb-2">Breadcrump</div>
                <p class="title text-white item-title font-weight-bold">Marshmellow - Wolves Ringtones</p>
                <p class="item-uploader text-gray">by <span class="item-uploader-name text-white"> Uploader Name </span>
                    in <span class="item-category text-white"> Ringtones </span>on DD MM YYYY</p>
                <div class="btn-group btn-group-sm" role="group" aria-label="Download and Share Buttons group">
                    <a href="#" class="btn btn-purple-color text-white">DOWNLOAD</a>
                    <a href="#" class="btn btn-primary"><img class="social-icon" src="/imgs/facebook.svg"></a>
                    <a href="#" class="btn btn-danger"><img class="social-icon" src="/imgs/instagram.svg"></a>
                    <a href="#" class="btn btn-success"><img class="social-icon" src="/imgs/whatsapp.svg"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid bg-white pt-5 pb-6">
    <div class="container px-5 main-content">
        <div class="row">
            <div class="col-sm">
                <h1 class=" px-0">Details</h1>
                <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Quod asperiores aspernatur nam
                    veritatis omnis illum, ut, aut facere, sunt recusandae est molestiae officiis optio explicabo iusto
                    veniam labore.<br> Recusandae, impedit officiis laboriosam nesciunt, perferendis sed unde expedita
                    incidunt nam ullam eligendi fugiat exercitationem eum error beatae laborum numquam aperiam quasi!
                </p>
            </div>
            <div class="col-lg item-description px-0">
                <h1 class="pb-4 pt-4 m-0 dark-purple text-center item-title text-white">Description</h1>
                <div class="info">
                    <div class="row px-4 text-dark-purple">
                        <div class="col ">
                            <p class="item-title">Size</p>
                        </div>
                        <div class="col">
                            <p class="text-right item-title">6MB</p>
                        </div>
                    </div>
                    <div class="row px-4 text-dark-purple">
                        <div class="col">
                            <p class="item-title">Released</p>
                        </div>
                        <div class="col">
                            <p class="text-right item-title">September 13, 2018</p>
                        </div>
                    </div>
                    <div class="row px-4 text-dark-purple">
                        <div class="col ">
                            <p class="item-title">Downloads</p>
                        </div>
                        <div class="col">
                            <p class="text-right item-title">13.5K</p>
                        </div>
                    </div>
                    <div class="row px-4 text-dark-purple">
                        <div class="col ">
                            <p class="item-title">Category</p>
                        </div>
                        <div class="col">
                            <p class="text-right item-title">Ringtones</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container box-shadow-dark main-content  mt-6 pt-5">
        <h1 class="text-center item-title font-weight-bold text-secondary pb-3">Subscribe To Get Updates!</h1>
        <div class="input-group pb-5 ">
            <input name="email" type="text" class="form-control border-purple"
                aria-label="Email address for subscription" placeholder="Enter Your Email Address">
            <button class="btn dark-purple search-btn no-border" type="submit"><img class="svg-icon no-border"
                    src="/imgs/search.svg"></button>
        </div>
    </div>
    <div class="container main-content mt-6">
        <h1 class="display-5">Share Your Opinions</h1>
        <form class="comment mt-3">
            <div class="row">
                <div class="col-sm">
                    <textarea class=" bg-white rounded" placeholder="Write Your Comment.."></textarea>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm">
                    <input class="bg-white rounded" type="text" placeholder="Name">
                </div>
                <div class="col-sm">
                    <input class="bg-white  rounded" type="email" placeholder="Email">
                </div>
                <div class="col-sm">
                    <input class="bg-white rounded" type="text" placeholder="Website(Optional)">
                </div>
            </div>
            <button class="btn dark-purple text-white btn-lg font-weight-bold  no-border-radius mt-4" type="submit">Post
                Comment</button>
        </form>
    </div>
</section>

<section class="bg-white">
    <div class="container main-content bg-white">
        <h1 class="display-5 text-dark">Recommended</h1>
        <div class="container-fluid top-section">
            <div class="row">
                <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                    <div class="fade-on"></div>
                    <div class="MultiCarousel-inner">
                        <div class="item">
                            <div class="pad15">
                                <div class="item-info">
                                    <span><span class="plus-symbol">+</span></span>
                                </div>
                                <p class="lead">Multi Item Carousel</p>
                                <p>₹ 1</p>
                                <p>₹ 6000</p>
                                <p>50% off</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <div class="item-info">
                                    <span>
                                        <!-- <img class="svg-icon" src="/imgs/add.svg"> -->
                                        <span class="plus-symbol">+</span>
                                    </span>
                                </div>
                                <p class="lead">Multi Item Carousel</p>
                                <p>₹ 1</p>
                                <p>₹ 6000</p>
                                <p>50% off</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <div class="item-info">
                                    <span><span class="plus-symbol">+</span></span>
                                </div>
                                <p class="lead">Multi Item Carousel</p>
                                <p>₹ 1</p>
                                <p>₹ 6000</p>
                                <p>50% off</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <div class="item-info">
                                    <span><span class="plus-symbol">+</span><span>
                                </div>
                                <p class="lead">Multi Item Carousel</p>
                                <p>₹ 1</p>
                                <p>₹ 6000</p>
                                <p>50% off</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <div class="item-info">
                                    <span><span class="plus-symbol">+</span><span>
                                </div>
                                <p class="lead">Multi Item Carousel</p>
                                <p>₹ 1</p>
                                <p>₹ 6000</p>
                                <p>50% off</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <div class="item-info">
                                    <span><span class="plus-symbol">+</span><span>
                                </div>
                                <p class="lead">Multi Item Carousel</p>
                                <p>₹ 1</p>
                                <p>₹ 6000</p>
                                <p>50% off</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <div class="item-info">
                                    <span><span class="plus-symbol">+</span><span>
                                </div>
                                <p class="lead">Multi Item Carousel</p>
                                <p>₹ 1</p>
                                <p>₹ 6000</p>
                                <p>50% off</p>
                            </div>
                        </div>
                    </div>
                    <button class="btn  leftLst">
                        <</button> <button class="btn  rightLst right-move">>
                    </button>
                </div>
            </div>
            <div class="padding-top"></div>
        </div>
</section>

<section>
    <div class="container-fluid bg-white blog-posts pb-6">
        <h2 class="display-5 text-center text-dark-purple mb-5"><span>Latest Blog Posts</span></h2>
        <div class="container pb-6">
            <div class="row justify-content-center">
                <div class="col-lg blog-icon">
                    <img src="/imgs/blog.svg" alt="Blog reference icon">
                </div>
                <div class="col-lg">
                    <div class="row mt-0">
                        <div class="col-1 img-icon">
                            <img src="/imgs/logo.png">
                        </div>
                        <div class="col justify-content-end">
                            <span class="post-title">Android Q - Latest Top 5 Features</span><br>
                            <span class="post-date">25 February</span>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-1 img-icon">
                            <img src="/imgs/logo.png">
                        </div>
                        <div class="col justify-content-end">
                            <span class="post-title">Android Q - Latest Top 5 Features</span><br>
                            <span class="post-date">25 February</span>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-1 img-icon">
                            <img src="/imgs/logo.png">
                        </div>
                        <div class="col justify-content-end">
                            <span class="post-title">Android Q - Latest Top 5 Features</span><br>
                            <span class="post-date">25 February</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% include partials/footer %>