<% include partials/header %>
<section class="container-fluid  pt-6 pb-6 px-0 bg-gradient-rev justify-content-center">
    <div class="container-fluid main-content justify-content-center px-0">
        <div class="row justify-content-center">
            <div class="col-8 col-md item-image bg-gradient px-0 box-shadow-dark">
                <img src="/imgs/item-test.jpg">
            </div>
            <div class="col col-md-7 item-details px-0">
                <p class="title text-white item-title font-weight-bold pt-3">Marshmellow - Wolves Ringtones</p>
                <p class="item-uploader text-gray">by <span class="item-uploader-name text-white"> Uploader Name </span>
                    in <span class="item-category text-white"> Ringtones </span>on DD MM YYYY</p>
                <div class="item-action">
                    <a href="#" class="btn btn-purple-color download btn-md text-white mr-2 px-5">DOWNLOAD</a>
                    <div class="share">
                        <h6 class="">Share</h6>
                        <a href="#" class="btn btn-primary btn-sm text-white"><img class="social-icon"
                                src="/imgs/facebook.svg"></a></a>
                        <a href="#" class="btn btn-danger btn-sm text-white"><img class="social-icon"
                                src="/imgs/instagram.svg"></a></a>
                        <a href="#" class="btn btn-success btn-sm  text-white"><img class="social-icon"
                                src="/imgs/whatsapp.svg"></a></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid bg-white pb-6 px-0 pt-4">
    <div class="container main-content px-0">
        <div class="row justify-content-around">
            <div class="col-lg-5 px-0">
                <h1 class=" px-0">Details</h1>
                <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Quod asperiores aspernatur nam
                    veritatis omnis illum, ut, aut facere, sunt recusandae est molestiae officiis optio explicabo iusto
                    veniam labore.<br> Recusandae, impedit officiis laboriosam nesciunt.
                </p>
            </div>
            <div class="col-lg-4 item-description px-0">
                <h1 class="pb-4 pt-4 m-0 dark-purple text-center item-title text-white">Description</h1>
                <div class="info">
                    <div class="row px-4 text-dark-purple">
                        <div class="col ">
                            <p class="item-title">Size</p>
                        </div>
                        <div class="col">
                            <p class="text-right item-title">6MB</p>
                        </div>
                    </div>
                    <div class="row px-4 text-dark-purple">
                        <div class="col">
                            <p class="item-title">Released</p>
                        </div>
                        <div class="col">
                            <p class="text-right item-title">September 13, 2018</p>
                        </div>
                    </div>
                    <div class="row px-4 text-dark-purple">
                        <div class="col ">
                            <p class="item-title">Downloads</p>
                        </div>
                        <div class="col">
                            <p class="text-right item-title">13.5K</p>
                        </div>
                    </div>
                    <div class="row px-4 text-dark-purple">
                        <div class="col ">
                            <p class="item-title">Category</p>
                        </div>
                        <div class="col">
                            <p class="text-right item-title">Ringtones</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container box-shadow-dark main-content  mt-6 pt-5">
        <h1 class="text-center item-title font-weight-bold text-secondary pb-3">Subscribe To Get Updates!</h1>
        <div class="input-group pb-5 ">
            <input name="email" type="text" class="form-control border-purple"
                aria-label="Email address for subscription" placeholder="Enter Your Email Address" required>
            <button class="btn dark-purple search-btn no-border text-white" type="submit">Submit</button>
        </div>
    </div>
    <div class="container main-content mt-6">
        <h1 class="display-5">Share Your Opinions</h1>
        <form class="comment mt-3">
            <div class="row">
                <div class="col-sm">
                    <textarea class=" bg-white rounded" placeholder="Write Your Comment.."></textarea>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm">
                    <input class="bg-white rounded" type="text" placeholder="Name" required>
                </div>
                <div class="col-sm">
                    <input class="bg-white  rounded" type="email" placeholder="Email" required>
                </div>
                <div class="col-sm">
                    <input class="bg-white rounded" type="text" placeholder="Website(Optional)" required>
                </div>
            </div>
            <button class="btn dark-purple text-white btn-lg font-weight-bold  no-border-radius mt-4" type="submit">Post
                Comment</button>
        </form>
    </div>
</section>

<section class="bg-white">
    <div class="container main-content bg-white px-0">
        <h1 class="display-5 text-dark">Recommended</h1>
        <div class="container-fluid top-section">
            <div class="row">
                <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                    <div class="MultiCarousel-inner">
                        <div class="item">
                            <div class="pad15">
                                <div class="item-info">
                                    <span><span class="plus-symbol">+</span></span>
                                </div>
                                <p class="lead">Multi Item Carousel</p>
                                <p>₹ 1</p>
                                <p>₹ 6000</p>
                                <p>50% off</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <div class="item-info">
                                    <span>
                                        <!-- <img class="svg-icon" src="/imgs/add.svg"> -->
                                        <span class="plus-symbol">+</span>
                                    </span>
                                </div>
                                <p class="lead">Multi Item Carousel</p>
                                <p>₹ 1</p>
                                <p>₹ 6000</p>
                                <p>50% off</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <div class="item-info">
                                    <span><span class="plus-symbol">+</span></span>
                                </div>
                                <p class="lead">Multi Item Carousel</p>
                                <p>₹ 1</p>
                                <p>₹ 6000</p>
                                <p>50% off</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <div class="item-info">
                                    <span><span class="plus-symbol">+</span><span>
                                </div>
                                <p class="lead">Multi Item Carousel</p>
                                <p>₹ 1</p>
                                <p>₹ 6000</p>
                                <p>50% off</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <div class="item-info">
                                    <span><span class="plus-symbol">+</span><span>
                                </div>
                                <p class="lead">Multi Item Carousel</p>
                                <p>₹ 1</p>
                                <p>₹ 6000</p>
                                <p>50% off</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <div class="item-info">
                                    <span><span class="plus-symbol">+</span><span>
                                </div>
                                <p class="lead">Multi Item Carousel</p>
                                <p>₹ 1</p>
                                <p>₹ 6000</p>
                                <p>50% off</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                                <div class="item-info">
                                    <span><span class="plus-symbol">+</span><span>
                                </div>
                                <p class="lead">Multi Item Carousel</p>
                                <p>₹ 1</p>
                                <p>₹ 6000</p>
                                <p>50% off</p>
                            </div>
                        </div>
                    </div>
                    <button class="btn  leftLst">
                        <</button> <button class="btn  rightLst right-move">>
                    </button>
                </div>
            </div>
            <div class="padding-top"></div>
        </div>
</section>

<section>
    <div class="container-fluid bg-white blog-posts pb-6">
        <h2 class="display-5 text-center text-dark-purple mb-5"><span>Latest Blog Posts</span></h2>
        <div class="container pb-6">
            <div class="row justify-content-center">
                <div class="col-lg blog-icon">
                    <img src="/imgs/blog.svg" alt="Blog reference icon">
                </div>
                <div class="col-lg px-0 mx-0">
                    <div class="row mt-0">
                        <div class="col-1 img-icon">
                            <img src="/imgs/logo.png">
                        </div>
                        <div class="col justify-content-end">
                            <span class="post-title">Android Q - Latest Top 5 Features</span><br>
                            <span class="post-date">25 February</span>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-1 img-icon">
                            <img src="/imgs/logo.png">
                        </div>
                        <div class="col justify-content-end">
                            <span class="post-title">Android Q - Latest Top 5 Features</span><br>
                            <span class="post-date">25 February</span>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-1 img-icon">
                            <img src="/imgs/logo.png">
                        </div>
                        <div class="col justify-content-end">
                            <span class="post-title">Android Q - Latest Top 5 Features</span><br>
                            <span class="post-date">25 February</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% include partials/footer %>