<% include partials/header %>
<br>
<br>
<br>
<section class="container-fluid  pt-5 pb-6">
    <div class="container px-5 main-content">
        <div class="row">
            <div class="col-sm item-image bg-gradient">

            </div>
            <div class="col-sm-7 item-details">
                <div class="breadcrump text-gray mb-2">Breadcrump</div>
                <p class="title text-white item-title font-weight-bold">Marshmellow - Wolves Ringtones</p>
                <p class="item-uploader text-gray">by <span class="item-uploader-name text-white"> Uploader Name </span>
                    in <span class="item-category text-white"> Ringtones </span>on DD MM YYYY</p>
                <div class="btn-group btn-group-lg" role="group" aria-label="Download and Share Buttons group">
                    <a href="#" class="btn btn-purple-color text-white">DOWNLOAD</a>
                    <a href="#" class="btn btn-primary"><img class="social-icon" src="/imgs/facebook.svg"></a>
                    <a href="#" class="btn btn-danger"><img class="social-icon" src="/imgs/instagram.svg"></a>
                    <a href="#" class="btn btn-success"><img class="social-icon" src="/imgs/whatsapp.svg"></a>
                </div>
            </div>
        </div>
    </div>
</section>



<% include partials/footer %>