<% include partials/header %>
<h1 class="display-5 text-white text-center mt-6">Login</h1>
<h3 class="lead text-white text-center pb-6">Get access to pro items</h3>
<section aria-label="Login form">
    <div class="container">
        <form class="compact-form mb-6" action="/login" method="POST">
            <div class="input-group mb-2 flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Username</span>
                </div>
                <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text pr-3" id="basic-addon1">Password</span>
                </div>
                <input name="password" type="password" class="form-control" placeholder="Password" aria-label="Password"
                    aria-describedby="basic-addon1">
            </div>
            <button type="submit" class="btn  text-white px-4 btn-purple-color btn-md mt-2 mb-6">Submit  </button>
        </form>


    </div>
</section>
<script>
    function login() {
        $(".spinner-border.spinner-border-sm").removeClass("d-none");
        let username = $("input[name=username]").val();
        let password = $("input[name=password]").val();
        let user = {
            username,
            password
        };
        $.ajax("/login", {
            method: "POST",
            data: user
        }).done(data => {
            if (!data.status) {
                $("button[type=button]").addClass("btn-danger");
                $("button[type=button]").removeClass("btn-primary");
                $(".spinner-border.spinner-border-sm").addClass("d-none");
                $(".alert.alert-danger").remove();
                
                setTimeout(() => {$("form").prepend("<div class=\"alert alert-danger alert-dismissible fade show\" role=\"alert\">Incorrect Username/Password<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button></div>");
                    $("button[type=button]").removeClass("btn-danger");
                    $("button[type=button]").addClass("btn-primary");
                }, 4000);
            } else {
                window.location = "/";
            }
        });
    }
</script>
<!-- Incorrect Username/Password! -->
<% include partials/footer %>