<% include partials/header %>

<section class="bg-dark" aria-labelledby="Header for blog post">
    <div class="main-content pt-6s">
        <div class="row">
            <div class="col-sm-6 px-0">
                <p class="post-default-header">
                    Blog Post
                </p>
            </div>
            <div class="col-sm-6 px-0">
                <p class="post-title small text-left text-sm-right">
                    Home > Blog > Title
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-white pt-5" aria-labelledby="The main content for the blog post">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-8 blog-main-content h-50 px-2">
                <img class="img-thumbnail w-100" src="/imgs/blog-9.webp">
                <h1 class="post-header">MIUI 11 Release date in India</h1>
                <p class="small text-gray">By Deepanjan
                    <span class="pl-4">July 20th, 2019</span>
                </p>
                <div aria-labelledby="a horizontal line/separator" class="line-dark pb-4"></div>
                <section aria-labelledby="the main post text" class="">
                    <p class="">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quas, rerum tenetur
                        quisquam, expedita eligendi et ad rem dolorem aliquid nostrum cum, labore vitae ipsum enim
                        earum. Laboriosam earum, libero veniam veritatis a eveniet vel. Quidem et quaerat provident at.
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, adipisci. Possimus impedit autem
                        aspernatur obcaecati quod eligendi natus odio facere!
                        <br>
                        <div class="advertisement bg-dark">
                            <p class="text-white">Advertisement</p>
                        </div>
                        <blockquote>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore sint laborum voluptatem.
                            Quisquam eos error adipisci cum minima odio vitae.
                        </blockquote>
                        <img class="img-thumbnail mb-4 mt-4 w-100" src="/imgs/blog-6.webp">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi quod quasi quos eveniet quo
                            ratione! Reiciendis ipsum debitis ratione repudiandae illum eos dolor quas quidem repellat
                            deleniti maiores quos illo iste officiis, ipsa nemo voluptatibus repellendus sapiente
                            voluptas
                            ut molestias voluptate. Laudantium aliquid quod consequuntur dolorum excepturi minus.
                            Dignissimos saepe eos soluta voluptatibus quam doloribus repellendus assumenda error maxime
                            nobis? Quo dolorum itaque aut, eum est ratione nostrum, sapiente provident, assumenda totam
                            quidem dolorem id sequi qui! Reiciendis quas cupiditate laudantium suscipit excepturi? Qui
                            modi,
                            nesciunt vel quae aspernatur commodi ut suscipit? Blanditiis eaque nobis harum? Quae
                            accusantium
                            mollitia expedita?
                            <br>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est officia deserunt in tenetur
                            consequuntur maxime quibusdam minus? Architecto pariatur omnis laboriosam quaerat aut
                            placeat
                            eum. Ipsum illo dolore placeat aliquid, eaque dolores labore repellendus eveniet, laudantium
                            iusto quasi tempore dolor ducimus unde natus reiciendis maiores quaerat quia atque
                            cupiditate
                            nemo.
                        </p>

                    </p>
                </section>
            </div>
            <div class="col-sm-4 blog-sub-content h-50 px-3 px-sm-4">
                <h5 class="font-weight-bold ml-3">Latest Posts</h5>
                <div class="row side-posts mt-5 align-items-center border-bottom-light">
                    <div class="col-2 col-md-3 img-icon px-0">
                        <img class="align-self-center" src="/imgs/logo.png">
                    </div>
                    <div class="col px-0 ml-3">
                        <p class="tags mb-0">ANDROID, APPS</p>
                        <p class="blog-title px-0">Lorem ipsum dolor sit amet elit. Explicabo,
                            debitis.</p>
                    </div>
                </div>
                <div class="row side-posts align-items-center border-bottom-light">
                    <div class="col-2 col-md-3 img-icon px-0">
                        <img class="align-self-center" src="/imgs/logo.png">
                    </div>
                    <div class="col px-0 ml-3">
                        <p class="tags mb-0">ANDROID, APPS</p>
                        <p class="blog-title px-0">Lorem ipsum dolor sit amet elit. Explicabo,
                            debitis.</p>
                    </div>
                </div>
                <div class="row side-posts align-items-center border-bottom-light">
                    <div class="col-2 col-md-3 img-icon px-0">
                        <img class="align-self-center" src="/imgs/logo.png">
                    </div>
                    <div class="col px-0 ml-3">
                        <p class="tags mb-0">ANDROID, APPS</p>
                        <p class="blog-title px-0">Lorem ipsum dolor sit amet elit. Explicabo,
                            debitis.</p>
                    </div>
                </div>
                <div class="row side-posts align-items-center border-bottom-light">
                    <div class="col-2 col-md-3 img-icon px-0">
                        <img class="align-self-center" src="/imgs/logo.png">
                    </div>
                    <div class="col px-0 ml-3">
                        <p class="tags mb-0">ANDROID, APPS</p>
                        <p class="blog-title px-0">Lorem ipsum dolor sit amet elit. Explicabo,
                            debitis.</p>
                    </div>
                </div>
                <div class="advertisement bg-dark">
                    <p class="text-white ml-5 pl-4">Advertisement</p>
                </div>

                <div class="card mx-sm-1 mt-5 ">
                    <img src="/imgs/blog11.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="tags">ANDROID, TRICKS</p>
                        <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up
                            the bulk of
                            the
                            card's content.</p>
                        <p class="date">FEB 10, 2019</p>
                    </div>
                </div>
                <div class="advertisement bg-dark">
                    <p class="text-white ml-5 pl-4">Advertisement</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white">
    <div class="main-content pt-4 pb-4">
        <div class="advertisement mt-0  bg-dark">
            <p class="text-white ml-5 pl-4">Advertisement</p>
        </div>
    </div>
    <div class="container-fluid bg-white blog-posts pb-6">
        <h1 class="display-5 text-center text-dark-purple mb-5 pt-5"><span>Latest Blog Posts</span></h1>
        <div class="row main-content justify-content-center">
            <div class="col-md">
                <div class="card mx-sm-1 mt-5 ">
                    <img src="/imgs/blog11.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="tags">ANDROID, TRICKS</p>
                        <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <p class="date">FEB 10, 2019</p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card mx-sm-1 mt-5 ">
                    <img src="/imgs/blog11.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="tags">ANDROID, TRICKS</p>
                        <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <p class="date">FEB 10, 2019</p>
                    </div>
                </div>
            </div>
            <div class="col-md ">
                <div class="card mx-sm-1 mt-5 ">
                    <img src="/imgs/blog11.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="tags">ANDROID, TRICKS</p>
                        <h5 class="card-title">Android Q Latest Top 5 Features!</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <p class="date">FEB 10, 2019</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-5 pb-6">
            <a href="#" class="btn btn-outline load-more small rounded-pill">Browse More</a>
        </div>
    </div>
    <div class="container main-content pt-5 pb-5">
            <h1 class="display-5 text-center">Share Your Opinions</h1>
            <p class="xs-small text-gray text-center">Your email address will not be published. Required fields are marked
                with *</p>
            <form class="comment mt-3 text-center">
                <div class="row">
                    <div class="col-sm">
                        <textarea class=" bg-white rounded" placeholder="Write Your Comment *"></textarea>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm">
                        <input class="bg-white rounded" type="text" placeholder="Name *" required>
                    </div>
                    <div class="col-sm">
                        <input class="bg-white  rounded" type="email" placeholder="Email *" required>
                    </div>
                    <div class="col-sm">
                        <input class="bg-white rounded" type="text" placeholder="Website" required>
                    </div>
                </div>
                <button class="btn btn-primary text-white btn-md rounded-pill mt-4 text-center px-4 pt-2 pb-2"
                    type="submit">Post
                    Comment</button>
            </form>
    </div>
</section>


<% include partials/footer %>