<% include partials/header %>
<div class="container-fluid pt-5  pb-6 text-white bg-gradient">
    <h1 class="display-4 text-center text-white mt-6">Blogs</h1>
    <p class="lead text-center">Home > Blog</p>
</div>

<section class="blog-single bg-white pb-6">
    <div class="main-content">
        <div class="blog-main-image">
            <img src="/imgs/blog-9.webp">
        </div>
        <h1 class="blog-main-title">Android Q - Latest Top 5 Features</h1>
        <p class="text-gray small pb-2">by <span class="text-dark">Author One</span> 10 FEB, 2019</p>
        <div class="line bg-gray mb-3"></div>
        <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam veritatis illum consequuntur
            deserunt odio,
            velit saepe, ea culpa laborum beatae aperiam non quia, explicabo repudiandae alias repellat perspiciatis
            distinctio quam necessitatibus rem unde. Animi, ex. Quod modi porro delectus optio nemo voluptatibus
            corrupti, tenetur neque unde magni veniam saepe quis, possimus et quidem ipsam non, voluptatem repellendus
            totam debitis inventore labore blanditiis. Velit, commodi sit officiis, libero nobis aspernatur fuga
            voluptates a voluptatibus at ad ex ipsum ipsam minima ut, placeat dolorum cupiditate. Error sint officia
            reiciendis assumenda dicta tempore cum consectetur nostrum! Et iste obcaecati delectus incidunt minima
            doloremque voluptas! Deleniti repellendus id aliquid officiis, numquam enim! Doloribus ducimus consequuntur
            dignissimos voluptatum laudantium, voluptatem assumenda exercitationem laboriosam ea quo sint, tenetur
            recusandae ipsa laborum, quasi consectetur rerum animi aspernatur. Repudiandae unde vel temporibus quis
            saepe placeat. Eos maiores itaque unde dolorem maxime illo sed, cumque atque quos! Officia quaerat deleniti
            neque recusandae consequuntur minus enim provident pariatur! Illum, velit. Excepturi ea, natus nemo
            assumenda voluptate possimus nam consequatur ex aliquid? Eligendi asperiores quibusdam minima deleniti
            molestias, impedit et repellendus. Velit harum praesentium tempora deleniti expedita alias explicabo
            distinctio, atque adipisci doloremque, ab ipsa numquam possimus fugit. Quasi cupiditate vel natus magnam,
            sint rerum facilis corrupti a suscipit ut dolor obcaecati. Blanditiis quisquam cupiditate sit amet
            reiciendis perspiciatis earum nulla. Maxime, eaque quod dolore totam autem, itaque fuga perferendis esse
            impedit quos doloremque! Laboriosam nemo voluptatum alias fugiat ex explicabo, eveniet accusamus eligendi at
            atque dolores, quo enim. Provident nostrum quidem ad eaque perferendis aperiam odio architecto voluptas odit
            mollitia. Aperiam at quasi magni ut placeat nobis corporis eveniet laudantium incidunt ea! Soluta eum quasi
            quod aspernatur numquam! Laboriosam tempore ad facilis obcaecati dolores corporis dignissimos nam, tenetur
            harum, excepturi quod quos! Rerum, delectus ipsam? Eos, quod omnis! Eaque quod maiores fugiat? Aliquid
            consequatur officia tempore corporis modi, repellat maxime dicta voluptatum fuga! Asperiores, earum illum!
            Libero dignissimos unde voluptatem, obcaecati, vel ratione repudiandae sit velit sed reprehenderit facere
            voluptatibus ipsa doloremque corrupti esse asperiores. Impedit, maxime aliquid nesciunt numquam tenetur
            deleniti eius provident quaerat optio beatae. Illo, iusto. Dolores corrupti facere numquam optio,
            consequuntur quisquam ipsa et natus amet quidem eaque ipsam, molestiae alias, delectus ratione vero itaque
            officia blanditiis exercitationem perspiciatis? Magnam sequi distinctio tenetur perspiciatis animi minima
            ipsum delectus pariatur in accusamus, fuga itaque quos ducimus eum repellat facilis officiis adipisci
            mollitia, iste consequuntur recusandae. Fugit aut ratione nostrum, quam quod maxime molestiae, deleniti sunt
            nisi culpa expedita asperiores velit soluta perspiciatis. Eveniet error unde obcaecati officiis nulla, in
            culpa expedita facilis vero iusto! Culpa ea harum totam molestiae quae, qui nostrum soluta aperiam dolore
            hic excepturi deserunt ipsa doloribus nobis ipsam delectus incidunt? Esse praesentium quasi recusandae
            magnam explicabo delectus voluptates ipsum officiis architecto adipisci eaque molestias facere accusamus ab
            repudiandae natus non quos quaerat voluptatem quas molestiae, magni quam. Exercitationem, quis. Maiores nisi
            quasi non nesciunt animi natus ut exercitationem nemo rerum corrupti sint cum laboriosam, assumenda quod
            porro obcaecati reiciendis, incidunt tenetur accusantium id!
        </p>
        <div class=" pt-5 pb-5">
            <span class="share text-left mt-4 mt-md-0">
                <span class="purple-text-color text-left ml-2">Share</span>
                <a class="ml-3" href="/"><i class="fab fa-facebook-f big" aria-label="facebook connect"></i></a>
                <a href="/"><i class="fab fa-whatsapp big" aria-label="whatsapp connect"></i></a>
                <a href="/"><i class="fab fa-instagram big" aria-label="instagram connect"></i></a>
            </span>
        </div>
    </div>
    <div class="container main-content pt-6s pb-5">
        <h1 class="display-5 text-center">Share Your Opinions</h1>
        <p class="xs-small text-gray text-center">Your email address will not be published. Required fields are marked
            with *</p>
        <form class="comment mt-3 text-center">
            <div class="row">
                <div class="col-sm">
                    <textarea class=" bg-white rounded" placeholder="Write Your Comment *"></textarea>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm">
                    <input class="bg-white rounded" type="text" placeholder="Name *" required>
                </div>
                <div class="col-sm">
                    <input class="bg-white  rounded" type="email" placeholder="Email *" required>
                </div>
                <div class="col-sm">
                    <input class="bg-white rounded" type="text" placeholder="Website" required>
                </div>
            </div>
            <button class="btn btn-primary text-white btn-md rounded-pill mt-4 text-center px-4 pt-2 pb-2"
                type="submit">Post
                Comment</button>
        </form>
    </div>
    <div class="container-fluid main-content horizontal-scroll px-0">
            <h1 class="display-5 text-center pt-4 pt-sm-6 pb-1">Recommended</h1>
            <div class="line mb-5"></div>
        <div class="scroll-top">
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
            <div class="scroll-item">
                <img src="/imgs/blog-9.webp">
            </div>
        </div>
    </div>
</section>

<% include partials/footer %>