<% include partials/header %>
<div class="container-fluid pt-5  pb-6 text-white bg-gradient">
    <h1 class="display-4 text-center text-white mt-6">Blogs</h1>
    <p class="lead text-center">Home > Blog</p>
</div>

<section class="bg-white pt-5 pb-6">
    <div class="main-content row">
        <div class="col-sm ">
            <p class="mb-4 font-size-md">Title Goes here!</p>
            <div class="post-image bg-dark height-lg">

            </div>
            <div class="">
                <p class="blog-content display-5 mt-4">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, natus, eum obcaecati repellat
                    aspernatur culpa blanditiis voluptas ea illum neque error magni esse modi, voluptatum dolores fugit
                    inventore. Odit reiciendis pariatur exercitationem delectus cupiditate et vel fugiat eligendi
                    deserunt molestias aliquam veritatis dolorem cumque, dolores temporibus! At sequi cupiditate
                    repellendus dicta eius totam, assumenda exercitationem unde sunt neque veniam explicabo laudantium
                    deleniti aliquid debitis aspernatur distinctio. Quaerat quod adipisci sequi mollitia id similique
                    qui praesentium reprehenderit esse dicta vitae eveniet temporibus asperiores, ullam nesciunt,
                    quibusdam cumque libero neque vero et culpa. Eius adipisci id corrupti necessitatibus obcaecati sunt
                    eaque at veritatis minus, amet commodi perferendis nihil laborum optio deleniti est. Eius quia sit,
                    optio earum quo repudiandae exercitationem numquam consequatur harum, ipsa voluptatibus, accusamus
                    ullam iure quos nisi minima cupiditate! Dolor, odio obcaecati qui voluptatum hic reprehenderit
                    aperiam nobis, expedita numquam, vero consectetur cum ullam ab praesentium molestias sunt esse
                    inventore eos placeat consequuntur alias aliquam totam vel. Nesciunt consectetur totam quibusdam
                    cumque quae eum. Ipsam, cumque quos doloremque eaque vitae, eligendi distinctio itaque perspiciatis
                    explicabo quo totam rerum? Soluta culpa dolor vel esse deserunt, fuga error cumque pariatur dolores
                    quo, vitae atque nihil animi accusamus. Molestiae modi ratione soluta omnis at, a, nam
                    exercitationem sit illo eligendi corporis eos, magni vel et ipsa natus debitis mollitia esse iure
                    vitae. Quas ducimus magnam quos aspernatur repudiandae a velit aut fugit, aperiam veniam. Suscipit,
                    est. Fugiat sapiente saepe numquam totam laudantium molestiae voluptatibus omnis vero doloribus nisi
                    incidunt dolor corporis accusantium delectus, similique velit quis, sunt quidem quod asperiores
                    illum a! Molestias repellat consequatur, atque nemo incidunt deleniti provident labore dolores eius
                    iusto cumque sapiente velit! Molestias laboriosam, asperiores corporis illo nesciunt nulla aliquam!
                    Eveniet similique nesciunt itaque possimus qui numquam nostrum perferendis, neque eos autem sunt est
                    explicabo ratione cupiditate necessitatibus voluptates repudiandae. Fuga aut vero recusandae quis
                    magni architecto ea officia aperiam vel, doloremque quisquam, quod cum laborum ut laboriosam quaerat
                    perspiciatis optio iste itaque, id amet laudantium at eos dolores. Architecto reprehenderit dolor
                    officia? Nam eveniet inventore laborum at doloremque similique, esse incidunt veritatis quidem neque
                    laboriosam illum obcaecati recusandae? Sequi, optio tempore cumque iusto libero sapiente et
                    voluptatibus adipisci dolorem nobis atque eligendi exercitationem excepturi debitis error laudantium
                    laboriosam nam architecto corporis impedit, dignissimos id. Ad laborum, facilis earum commodi
                    doloribus unde nostrum non ducimus alias voluptatum nulla at accusantium doloremque rem quidem
                    quaerat neque modi et sequi consectetur placeat iusto nobis? Labore, ea amet! Et impedit sit, sunt
                    provident voluptates magni, suscipit repudiandae asperiores voluptas odio expedita molestias.
                    Ratione, eligendi aliquid? Laudantium, laboriosam deleniti? Nostrum ipsa totam doloremque esse
                    doloribus alias cum neque eius, labore quo quibusdam blanditiis dolor nam ut repudiandae vero
                    molestias cumque harum veritatis aliquid a. Saepe inventore itaque, ad nobis debitis, minus rem
                    sint, veniam expedita ducimus in architecto exercitationem? Voluptate quasi nesciunt, in quibusdam
                    voluptatibus nisi recusandae ratione, atque amet adipisci rem minima, nemo nulla dignissimos
                    provident alias eaque? Perspiciatis eaque ut eum tempora fugit laudantium. Nemo animi odit vel
                    corporis sunt modi, esse amet nam magni, nihil rem quas delectus. Asperiores perspiciatis
                    consectetur deleniti. Quod omnis ea ut molestiae corrupti expedita, architecto animi aut, sequi ad
                    eius veritatis illum minus maiores! Tenetur atque expedita obcaecati. Eos voluptatum odit sequi
                    accusamus! Illum fugiat eum earum officia consequatur perferendis blanditiis voluptatem optio
                    incidunt odio! Tempore atque quis adipisci ab quisquam distinctio commodi facilis harum? Tempore,
                    quia ea! Officiis, aliquid repellendus. Ab illum qui sint et iure doloremque placeat! Et similique,
                    voluptatum tenetur debitis itaque delectus facere voluptatibus ex laborum doloremque vitae nesciunt
                    qui molestias beatae, est fuga velit consequatur? Fuga et quia quo nobis, ipsa quibusdam ea ipsum,
                    voluptate iure aliquam alias saepe repellat magnam labore, aspernatur dolores nemo! Iure, magnam qui
                    quam adipisci veritatis at consequuntur architecto molestiae repellendus vero, doloremque incidunt
                    esse? Commodi cum totam vitae laborum eum, in cumque illo, ea dicta alias optio pariatur earum
                    aliquid praesentium et iste vero voluptate ab eaque beatae. Illo ab nihil incidunt dolorum culpa
                    expedita sapiente temporibus facere sit, qui doloremque recusandae suscipit neque eius, in
                    distinctio architecto libero dolore nam cum. Sapiente placeat quaerat reprehenderit debitis
                    praesentium necessitatibus cum quo ipsum possimus ratione nostrum est, deserunt veritatis quisquam
                    fugit similique deleniti non facilis maiores magni ipsa aspernatur quae? Architecto totam ex nam
                    repudiandae beatae ab libero dolor, suscipit odio voluptatem eos harum blanditiis ipsam magnam
                    molestias tempore alias quam perspiciatis aspernatur eligendi id iusto! Vero, quis magnam! Vel, rem.
                    Facere, quidem. Nostrum consequatur at a eligendi perspiciatis, et quaerat odio numquam atque in
                    fugiat, iusto suscipit fuga, voluptatum deserunt facilis veritatis magni. Voluptatem fuga incidunt,
                    dicta veniam illo cumque ipsum eos, iure maxime sint mollitia quo, explicabo laudantium animi.
                    Explicabo quam, voluptatibus illo sapiente odit esse suscipit velit. Iusto, saepe earum laudantium
                    quos maiores soluta deleniti beatae mollitia in quas molestiae debitis ducimus reprehenderit,
                    voluptas quibusdam ea asperiores. Ea omnis sapiente impedit asperiores modi voluptatem reprehenderit
                    commodi cumque animi accusantium pariatur nobis hic, magnam dolorem ducimus voluptates quis
                    explicabo minima adipisci dolores odio voluptate quia. Non quo quidem cum magnam nihil aliquam,
                    incidunt amet a, perspiciatis sed assumenda quaerat, eius iure odio quisquam dicta. Alias fugit ex
                    suscipit ut voluptatum tempora, magni ad perspiciatis vitae iusto dicta quasi perferendis tenetur
                    reiciendis consequatur, eum ipsum, provident facere accusamus doloribus repellendus est quaerat
                    dolore? Nam aliquid deserunt corrupti dicta rem ducimus eum numquam, quos excepturi facilis maxime
                    dolorem nesciunt quibusdam. Deserunt eligendi a nobis eius magni. Amet id non error in deleniti
                    labore nesciunt hic maxime consectetur voluptas odit fugit, laboriosam, dolorem suscipit esse ex
                    iusto saepe temporibus aliquam ipsam adipisci assumenda aliquid delectus ullam. Culpa quam alias
                    distinctio? Accusantium saepe repellendus quod nihil magni rem quos odit iure. Aliquid perspiciatis,
                    deserunt explicabo eum, illum quae dolore earum dolor rem delectus impedit quisquam magni culpa
                    molestias aliquam neque autem totam. Corporis sed tenetur totam, hic ratione iusto ipsam officia
                    excepturi doloribus ex quod debitis maiores molestias alias rem aliquam libero similique ullam
                    delectus. Quas voluptatum exercitationem veniam iste voluptate quidem porro natus molestias!
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="blog-head mb-3 display-5 mx-0 mt-1"><span>Trending Now</span></div>
            <div class="row">
                <div class="col-lg px-0">
                    <div class="row mt-0 mb-4 ml-1">
                        <div class="col-1 img-icon px-0 ml-1">
                            <img src="/imgs/logo.png">
                        </div>
                        <div class="col justify-content-end ml-4">
                            <span class="post-title">Android Q - Latest Top 5 Features</span><br>
                            <span class="post-date">25 February</span>
                        </div>
                    </div>
                    <div class="row mb-4 ml-1">
                        <div class="col-1 img-icon px-0 ml-1">
                            <img src="/imgs/logo.png">
                        </div>
                        <div class="col justify-content-end ml-4">
                            <span class="post-title">Android Q - Latest Top 5 Features</span><br>
                            <span class="post-date">25 February</span>
                        </div>
                    </div>
                    <div class="row mb-4 ml-1">
                        <div class="col-1 img-icon px-0 ml-1">
                            <img src="/imgs/logo.png">
                        </div>
                        <div class="col justify-content-end ml-4">
                            <span class="post-title">Android Q - Latest Top 5 Features</span><br>
                            <span class="post-date">25 February</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-head mb-3 display-5 mx-0 mt-5"><span>Top Comments</span></div>
            <div class="">
                <p class="font-italic">Placeholder Commentssss</p>
                <p class="font-italic">Placeholder Commentssss</p>
                <p class="font-italic">Placeholder Commentssss</p>
                <p class="font-italic">Placeholder Commentssss</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-white pt-5">
    <div class="container box-shadow-dark main-content  mt-6 pt-5">
        <h1 class="text-center item-title font-weight-bold text-secondary pb-3">Subscribe To Get Updates!</h1>
        <div class="input-group pb-5 ">
            <input name="email" type="text" class="form-control border-purple"
                aria-label="Email address for subscription" placeholder="Enter Your Email Address" required>
            <button class="btn dark-purple search-btn no-border text-white" type="submit">Submit</button>
        </div>
    </div>
    <div class="container main-content pt-6 pb-5">
        <h1 class="display-5">Share Your Opinions</h1>
        <form class="comment mt-3">
            <div class="row">
                <div class="col-sm">
                    <textarea class=" bg-white rounded" placeholder="Write Your Comment.."></textarea>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm">
                    <input class="bg-white rounded" type="text" placeholder="Name" required>
                </div>
                <div class="col-sm">
                    <input class="bg-white  rounded" type="email" placeholder="Email" required>
                </div>
                <div class="col-sm">
                    <input class="bg-white rounded" type="text" placeholder="Website(Optional)" required>
                </div>
            </div>
            <button class="btn dark-purple text-white btn-lg font-weight-bold  no-border-radius mt-4" type="submit">Post
                Comment</button>
        </form>
    </div>
</section>
<% include partials/footer %>