<% include partials/header %>

<div class="container-fluid pt-6 pb-6 bg-gradient">
    <h1 class="text-center text-white display-5 mb-3">Content</h1>
    <p class="lead pb-6 text-center text-white">Something Here</p>
</div>
<div class="container-fluid pt-2 bg-white">
    <h1 class="dsiplay-5 text-dark mt-6">Wallpapers</h1>
    <div class="container-fluid top-section">
        <div class="row">
            <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                <div class="fade-on"></div>
                <div class="MultiCarousel-inner">
                    <div class="item">
                        <div class="pad15">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span></span>
                            </div>
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <div class="item-info">
                                <span>
                                    <!-- <img class="svg-icon" src="/imgs/add.svg"> -->
                                    <span class="plus-symbol">+</span>
                                </span>
                            </div>
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span></span>
                            </div>
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span><span>
                            </div>
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span><span>
                            </div>
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span><span>
                            </div>
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span><span>
                            </div>
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                </div>
                <button class="btn  leftLst">
                    <</button> <button  class="btn  rightLst right-move">>
                </button>
            </div>
        </div>
        <div class="padding-top"></div>
    </div>

    <!-- ----------------------Ring tones -->
    <h1 class="dsiplay-5 text-dark mt-6">Ringtones</h1>
    <div class="container-fluid top-section">
        <div class="row">
            <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                <div class="fade-on"></div>
                <div class="MultiCarousel-inner">
                    <div class="item">
                        <div class="pad15">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span></span>
                            </div>
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <div class="item-info">
                                <span>
                                    <!-- <img class="svg-icon" src="/imgs/add.svg"> -->
                                    <span class="plus-symbol">+</span>
                                </span>
                            </div>
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span></span>
                            </div>
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span><span>
                            </div>
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span><span>
                            </div>
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span><span>
                            </div>
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span><span>
                            </div>
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                </div>
                <button class="btn  leftLst">
                    <</button> <button  class="btn  rightLst right-move">>
                </button>
            </div>
        </div>
        <div class="padding-top"></div>
    </div>
    <!-- Apps------------------------------------------ -->
    <h1 class="dsiplay-5 text-dark mt-6">Apps</h1>
    <div class="container-fluid top-section">
        <div class="row">
            <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                <div class="fade-on"></div>
                <div class="MultiCarousel-inner">
                    <div class="item">
                        <div class="pad15 circle "">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span></span>
                            </div>
                            <p>₹ 1</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15 circle "">
                            <div class="item-info">
                                <span>
                                    <!-- <img class="svg-icon" src="/imgs/add.svg"> -->
                                    <span class="plus-symbol">+</span>
                                </span>
                            </div>
                            <p>₹ 1</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15 circle "">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span></span>
                            </div>
                            <p>₹ 1</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15 circle "">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span><span>
                            </div>
                            <p>₹ 1</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15 circle "">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span><span>
                            </div>
                            <p>₹ 1</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15 circle "">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span><span>
                            </div>
                            <p>₹ 1</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15 circle "">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span><span>
                            </div>
                            <p>₹ 1</p>
                        </div>
                    </div>
                </div>
                <button class="btn  leftLst">
                    <</button> <button  class="btn  rightLst right-move">>
                </button>
            </div>
        </div>
        <div class="padding-top"></div>
    </div>
    <!-- Presets--------------------------------------------------- -->
    <h1 class="dsiplay-5 text-dark mt-6 mb-6">Presets</h1>
    <div class="container-fluid top-section">
        <div class="row">
            <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                <div class="fade-on"></div>
                <div class="MultiCarousel-inner">
                    <div class="item">
                        <div class="pad15">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span></span>
                            </div>
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <div class="item-info">
                                <span>
                                    <!-- <img class="svg-icon" src="/imgs/add.svg"> -->
                                    <span class="plus-symbol">+</span>
                                </span>
                            </div>
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span></span>
                            </div>
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span><span>
                            </div>
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span><span>
                            </div>
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span><span>
                            </div>
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <div class="item-info">
                                <span><span class="plus-symbol">+</span><span>
                            </div>
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                </div>
                <button class="btn  leftLst">
                    <</button> <button  class="btn  rightLst right-move">>
                </button>
            </div>
        </div>
        <div class="padding-top"></div>
    </div>
</div>
<% include partials/footer %>