<% include partials/header %>
<div class="container-fluid bg-white px-0">
    <div class="container-fluid pt-6s pb-6 bg-gradient bottom-rounded">
        <h1 class="text-center text-white display-5 mb-3">Content</h1>
        <p class="lead pb-5 text-center text-white">Home > Content</p>
        <h5 class=" pt-6s pt-sm-5 text-center text-white">What are you looking for?</h5>
        <div class="position-relative pt-5 srch">
            <form style="margin-bottom:-7.5rem;" action="">
                <input type="search">
                <i class="fas fa-search"></i>
            </form>
        </div>
    </div>
</div>
<div class="bg-white container-fluid px-0 pb-6 pt-3">
    <div class="main-content site-content">
        <div class="pt-6s text-center pb-5">
            <div class="text-center">
                <a href="#" class="btn btn-outline-primary rounded-pill btn-small px-4 pt-2 pb-2">All</a>
                <a href="#" class="btn btn-outline-primary rounded-pill px-4 ml-2 pt-2 pb-2 active">Ringtones</a>
            </div>
            <div class="mt-4">
                <a href="#" class="btn btn-outline-primary rounded-pill pt-2 pb-2">Wallpapers</a>
                <a href="#" class="btn btn-outline-primary rounded-pill pt-2 pb-2">Presets</a>
                <a href="#" class="btn btn-outline-primary rounded-pill pt-2 pb-2">Plugins</a>
            </div>
        </div>
        <h1 class="display-5 text-center pt-5 pb-1">Ringtones</h1>
        <p class="small text-center text-gray pb-3">Catch up the latest tunes!</p>
        <div class="row justify-content-center">
            <div class="col-6 col-md px-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-9.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
            <div class="col-6  ml-4 ml-md-4 col-md px-0 mx-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-2.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md ml-0 ml-md-4 mt-sm-0 px-0 mx-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-7.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 ml-4 ml-md-4  mt-md-0 col-md px-0 mx-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-8.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-0 mt-md-4">
            <div class="col-6 col-md px-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-9.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
            <div class="col-6  ml-4 ml-md-4 col-md px-0 mx-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-2.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md ml-0 ml-md-4 mt-sm-0 px-0 mx-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-7.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 ml-4 ml-md-4 mt-md-0 col-md px-0 mx-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-8.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-0 mt-md-4">
            <div class="col-6 col-md px-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-9.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
            <div class="col-6  ml-4 ml-md-4 col-md px-0 mx-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-2.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md ml-0 ml-md-4 mt-sm-0 px-0 mx-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-7.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 ml-4 ml-md-4  mt-md-0 col-md px-0 mx-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-8.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-0 mt-md-4">
            <div class="col-6 col-md px-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-9.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
            <div class="col-6  ml-4 ml-md-4 col-md px-0 mx-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-2.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md  ml-0 ml-md-4 mt-sm-0 px-0 mx-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-7.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 ml-4 ml-md-4 mt-md-0 col-md px-0 mx-0">
                <div class="card mx-0">
                    <img src="/imgs/blog-8.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title small">Lorem,
                            fugit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="container main-content d-flex justify-content-center pb-4 pt-6s" aria-label="Pagination">
        <ul class="pagination d-flex ml-0">
            <li class="page-item disabled">
                <a class="page-link previous" href="#" tabindex="-1" aria-disabled="true">Prev</a>
            </li>
            <li class="page-item disabled active"><a class="page-link" href="#">1</a></li>
            <li class="page-item  " aria-current="page">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link next pl-1" href="/posts">Next</a>
            </li>
        </ul>
    </nav>
    <h2 class="display-5 text-center  mb-3 pt-6s"><span>Our Blogs</span></h2>
    <div class="text-center"><span class="line pl-6"></span></div>
    <div class="text-center mt-5 mb-4">
        <a href="/blogs" class="btn btn-outline load-more small rounded-pill">Browse Now</a>
    </div>
</div>
<% include partials/footer %>