* {
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif !important;
}

body {
    background-image: linear-gradient(to left, #330066, #660099, #6600cc);
    /* opacity: 0;
    transition-duration: 1s;
    animation: fadeIn 1s linear 0.7s 1 forwards; */
}

p {
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    position: relative;
    padding: 5rem;
    text-align: center;
}

footer p {
    font-size: 2rem;
    margin-bottom: 0;
}

.fixed-top {
    z-index: 99;
}

nav.fixed-top div.container {
    width: 65vw;
    padding-top: 20px;
}

hr {
    background-color: #404140;
}

input::placeholder {
    color: #99cccc;
    font-size: 0.8em;
    font-weight: bold;
}

.small-font {
    font-size: 13px;
}

a {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1.display-4 {
    font-weight: bold;
}

.circle {
    border-radius: 50%;
}

.fade-on {
    width: 80px;
    z-index: 1;
    padding: 15px;
    position: absolute;
    left: 90%;
    height: 13rem;
    max-height: 100%;
    margin: 10px 0;
    background-image: linear-gradient(to left, #ffffff, #0000ffff);
    opacity: 0.3;
}

.nav-item .nav-link:hover {
    color: #9966ff !important;
}

.blog-icon img {
    width: 73%;
    height: auto;
}

.btn:hover {
    opacity: 0.9;
}

.transparent {
    background: transparent !important;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 0px;
    /* Place the button at the bottom of the page */
    right: 0px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgba(23, 45, 247, 0.493);
    /* Set a background color */
    color: #999999;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
    transition: 0.3s;
}

.text-sm {
    font-size: 0.8rem;
}

.disclaimer-gradient {
    background-image: linear-gradient(to bottom, #999900, #330033) !important;
}

.advert-gradient {
    background-image: linear-gradient(to bottom, #0033cc, #000033) !important;
}

.privacy-policy-gradient {
    background-image: linear-gradient(to bottom, #ff0033, #330000) !important;
}

.block-title {
    font-size: 36px;
    font-weight: 700;
    color: #333366;
}

.about-us-gradient {
    background-image: linear-gradient(to bottom, #990099, #330033) !important;
}

.contact-us-gradient {
    background-image: linear-gradient(to bottom, #009999, #330033) !important;
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}


/* Base colors scheme */
.bg-fallback {
    background-color: #00046c;
}

.base-bg {
    background-color: #0e1111;
}

.base-color {
    background-color: #1d005a;
}

.dark-purple {
    background-color: #580096;
}

.nav-item {
    margin: 0 15px;
}

.blog-content {
    min-height: auto;
}

.blog-details span {
    font-weight: bold;
}

.blog-title {
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
}

.blog-content .main {
    min-height: 25rem;
    width: 100%;
    height: 100%;
    background-color: #0033ff;
}

.hover-opacity {
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0e1111;
    opacity: 0;
}

.hover-opacity:hover {
    opacity: 0.6;
}

.sub-box {
    z-index: 2;
    position: absolute;
}
.subscribe .input-group-text{
    max-width: 5rem; 
    border-radius: 5rem;
    background-color: rgb(3, 131, 182);
}
.subscribe .input-group-text:hover{
    background-color: rgb(49, 170, 218);
}
.subscribe .input-group-text img{
    width: 20px;
}
.input-group-text {
    width: auto !important;
}

input::placeholder {
    font-weight: 400;
    color: gray;
    font-size: 13px;

}

.subscribe .search-box .form-control,
.main-content .form-control {
    border: 1px solid #ced4da !important;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.subscribe .form-control{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.subscribe .input-group {
    margin-top: 0.5rem;
    box-shadow: 19px 5px 17px rgb(168, 168, 168);
    border-radius: 5rem;
    cursor: pointer;
}

.subscribe p {
    font-size: 16px;
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.subscribe {
    position: relative;
    z-index: 5;
    border-radius: 25px;
    padding: 38px 35px;
    box-shadow: 10px 30px 50px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: -2.7rem !important;
}

.tags,
.date {
    color: #4267f8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-stretch: semi-condensed;
    margin-bottom: 1.5rem;
}

.date {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.card-title {
    font-size: 21px;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card-text {
    font-size: 13px;
}

.latest-posts .row {
    border: 1px solid lightgray;
    padding: 4px;
    margin: 3px;
}

.latest-posts .row:hover {
    border: 1px solid rgba(0, 0, 0, .35);
}

.card {
    box-shadow: 20px 10px 40px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card:hover {
    box-shadow: none;
}
.card:hover .card-title{
    color: rgb(3, 131, 182);
}
.blog-posts .card {
    border-radius: 15px !important;
}

.blog-posts .card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}



.blog-details {
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.blog-content .sub .col-sm {
    width: 100%;
    height: 12.3rem;
    background-color: #0033cc;
    margin: 2px;
    margin-top: 0;
    margin-bottom: 6px;
}

.blog-content .sub {
    margin-left: 2px;
}

.blog-image {
    height: 10rem;
    background-color: #0033ff;
    width: 100%;
}

.blog-image-md {
    height: 13rem;
    max-height: 13rem;
    background-color: #0033ff;
}

.blog-head {
    border-bottom: 2px solid #2c008b;
    margin-bottom: 1rem;
}

.blog-head span {
    padding: 4px 20px;
    background-color: #2c008b;
    color: white;
}

.blog-image-sm {
    height: 8rem;
    ;
}

.height-lg {
    height: 20rem;
}

.navbar-icon {
    border-radius: 4px;
    height: 40px;
    padding-right: 7px;
    border: none;
}

.bg-gradient {
    background-image: linear-gradient(to bottom, #0033ff, #000033, #000033) !important;
}

.compact-form {
    max-width: 60%;
    margin: auto;
}

.display-6 {
    font-size: 2rem;
}

.bg-gradient-rev {
    background-image: linear-gradient(to top, #330066, #660099, #6600cc) !important;
}

.bg-gradient-right {
    background-image: linear-gradient(to left, #0033ff, #000033) !important;
}

.bg-image {
    background-image: url("/imgs/img-2.png") !important;
    background-size:100% 100%;
}

.top-section {
    width: 57vw;
    margin: auto;
}

.navbar {
    background-color: #fffffffb;
    padding: 2rem 3rem;
    padding-top: 0;
}

input:focus {
    outline: none;
}

.pt-6s {
    padding-top: 8rem;
}

.item-description {
    background-color: #ccccff;
}

.item-description .item-title {
    font-size: 1rem;
}

.item-description .info {
    margin-top: 9%;
}

.text-dark-purple {
    color: #580096 !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn-purple-color {
    background-color: #0033ff;
}

.blog-posts .container div div {
    margin: 1rem;
}

.img-icon img {
    height: 50px;
    width: 50px;
}

.font-lg {
    font-size: 1.5rem !important;
}

.lucida-font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.post-image {
    height: 23rem;
}

.post-title {
    color: #171718;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0.9;
}

.post-date {
    color: #570094;
    font-size: 11px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blog-posts h2 span {
    padding: 0px 50px 30px 50px;
    border-bottom: 1px solid #6600ff;
}

.blog-posts h2 {
    padding: 25px;
}

.blog-posts {
    padding: 1rem 0;
}

.light-purple {
    background-color: #a469f2;
}

.text-light-purple {
    color: #a469f2;
    font-family: monospace;
}

.med-purple {
    background-color: #38475d;
}


/* ------------------------------------------------------------------------- */

#sidenavs {
    display: inline-block;
    height: 1rem;
}

#side-toggler {
    z-index: 99;
    padding: 9px 0;
    position: fixed;
    top: 0;
    background-color: #feffff;
    padding: 0;
    display: none;
}


/* The side navigation menu */

.sidenav {
    height: 100vh;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: rgb(250, 246, 246);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #6600ff;
    display: block;
    transition: 0.3s;
}

a:hover {
    color: white;
}

.blog-posts div.row div.col-lg .row {
    border-left: 4px solid white;
}

.blog-posts div.row div.col-lg .row:hover {
    border-left: 4px solid #6600ff;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #9839da;
}


/* Position and style the close button (top right corner) */

#side-toggler .closebtn {
    position: absolute;
    top: 0;
    left: 75%;
    display: none;
    font-size: 36px;
    margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.btn-outline {
    padding: 8px 25px;
    border: 4px solid #9839da;
    background-color: #ffffff00;
    color: white;
}

.jumbo-button .btn-outline:hover {
    border-color: #9966ff;
    color: white;
}

.jumbo-button .dark-purple-color:hover {
    background-color: #5a00f0;
}

.lead {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.brand-name {
    position: absolute;
    font-size: 14px;
    padding: 3px;
}

.padding-top {
    padding-top: 2.5rem;
}

.jumbo-button .btn {
    font-weight: 600;
}

.btn.btn-purple-color {
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn.btn-purple-color:hover {
    box-shadow: 0 0 30px #cbace2, 0 0 15px #6600ff;
}

.brand-name span.motto {
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
}

.svg-icon {
    height: 40px;
    width: auto;
}

.item-action {
    margin-top: 5.4rem;
}

.share h6 {
    display: inline;
    padding-left: 8px;
    padding-right: 18px;
    color: white;
}

.item-details {
    margin-left: 2rem;
}

.item-info {
    background-color: rgba(56, 54, 54, 0.678);
    opacity: 0;
    width: auto;
    height: inherit;
    position: absolute;
    z-index: 6;
    border: none;
}

div.emphasis:hover {
    border-left-color: #fd058d;
}

div.emphasis {
    border-left: 6px solid #4471f7;
    background-color: rgb(245, 241, 241);
    color: black;
    padding: 18px 6px 14px 6px;
    margin: 10px 4px;
}

div.blog-content p.content {
    color: #646464;
}

div.emphasis p.head {
    font-weight: bold;
    font-size: 1.5rem;
    color: #0033ff;
    margin: 4px 4px;
}

div.emphasis p.text {
    font-style: italic;
    font-size: 16px;
    color: #7c7c7c;
}

div.emphasis p.author {
    color: black;
    font-style: italic;
    font-weight: 500;
    text-align: right;

}

.carousel-indicators li {
    border-radius: 50%;
    padding: 3px;
    max-width: 5px;
    ;
}

.gallery-carousel {
    max-width: 99%;
}

.carousel-item img {
    border-radius: 10px !important;
    min-height: 12rem;
}

.subtitle {
    font-size: 28px;
    color: #171718;
    padding: 8px;
    border-left: 4px solid gray;
}

.item-image {
    width: 100%;
    box-shadow: 20px 40px 30px 0px rgba(0, 0, 0, 0.2);

    min-height: 15rem;
    max-height: 15rem;
}

.item-image img {
    width: 100%;
    min-height: 15rem;
    max-height: 15rem;
    object-fit: fill;
}

.item-title {
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.item-info span {
    position: absolute;
    top: 40%;
    left: 40%;
}

.item-info:hover {
    opacity: 1;
}

.social-icon {
    width: 1rem;
    height: auto;
}

.item-action .download {
    display: inline-block;
}

.share {
    display: inline-block;
    padding-left: 16px;
    padding: 2px;
    border: 2px solid #6600ff;
}


/* ----------------------- Middle section of homepage */

.jumbo-button {
    margin-top: 2em;
}

.no-border {
    border: none;
}

.no-border-radius {
    border-radius: 0 !important;
}

.search-box {
    /* margin-top: 5.3rem; */
    color: black;
    max-height: 0rem;
    margin-bottom: -0rem;
}

.border-purple {
    border: 2px solid #6600ff !important;
}

.search-box .input-group,
.main-content .input-group {
    width: 62%;
    margin: auto;
    padding: 1rem 0;
}

.product-box {
    color: wheat;
    height: 9rem;
    border: 4px solid transparent;
    margin: 8px;
}

.pt-6 {
    padding-top: 15rem;
}

.pad15 {
    position: relative;
}

.plus-symbol {
    font-weight: 400;
    font-size: 25px;
    color: #6600ff;
    ;
    background-color: white;
    border-radius: 50%;
    padding: 3px 15px;
}

.mb-6 {
    margin-bottom: 8rem;
}

.main-carousel .col-md {
    min-height: 12rem !important;
}

.mt-6 {
    margin-top: 8rem;
}

.load-more {
    color: #6600ff;
    font-size: 18px;
    font-weight: 400;
}

.load-more:hover {
    color: white;
    background-color: #9839da;
    ;

}

.search-box div.rounded {
    padding: 1.5rem 0;
    position: relative;
    max-width: 60%;
    box-shadow: 10px 30px 50px 20px rgba(0, 0, 0, 0.1);
    z-index: 2;
    margin-top: -4rem;
    border-radius: 225px !important;
}

.pb-6 {
    padding-bottom: 4.5rem;
}

.search-box div.rounded h1 {
    font-weight: bold;
    color: #333366;
}

.statistics {
    padding-top: 7.5rem;
    background-image: linear-gradient(to bottom, #330066, #6600cc);
}

.hits {
    position: relative;
    top: 33%;
}

.hits span {
    color: #2c008b;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hits span.lead {
    font-size: 1rem;
    font-weight: bold;
}

.statistics .container-fluid .row div {
    height: 13rem;
    max-width: 18rem;
    margin: 10px;
    margin-top: -5rem;
    z-index: 1;
    border-radius: 15px;
    background-color: white;
    box-shadow: 10px 30px 50px 20px rgba(0, 0, 0, 0.1);
}

.box-shadow-dark {
    box-shadow: 10px 30px 50px 20px rgba(0, 0, 0, 0.1);
}

.search-dropdown {
    padding: 0.5rem 5rem 0.5rem 1rem;
    box-shadow: none !important;
    background-color: #6600ff;
}

.product-box:hover {
    border: 4px solid#888585;
}

.search-btn {
    max-height: 2.6rem;
    background-color: #6600ff;
    box-shadow: none !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search-btn:hover {
    background-color: #404140;
}

.search-btn img {
    height: 1.5rem;
}

.text-gray {
    color: gray !important;
}

.main-content {
    max-width: 60vw;
    margin: auto;
}

.search-box .form-control,
.main-content .form-control {
    border: 3px solid #6600ff;
    border-left: none;
    height: auto;
}

.input-group-text {
    width: 8rem;
}

.scroll-flex {
    display: flex;
}

.scroll-flex .col-sm-5 {
    flex: 0 0 auto;
}

.comment textarea,
.comment input {
    width: 100%;
    padding: 8px;
    color: rgb(77, 76, 76);
    border: 2px solid rgba(97, 97, 97, 0.493);
}

.comment input {
    margin: 3px 0;
    padding: 10px;
}

.comment *::placeholder {
    color: gray;
}

textarea.form-control,
.comment textarea {
    height: 17rem;
    ;
}

.font-size-md {
    font-size: 2.3rem;
}

/* Multi carousel ------------------------------------------------------ */

.MultiCarousel-inner .item:hover {
    background-color: #474646;
}


.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

.loader-div {
    position: fixed;
    top: 0;
    opacity: 0.99;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111111;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    text-align: center;
}

.loader {
    border: 16px solid #202020cb;
    /* Light grey */
    border-top: 16px solid #fa1919;
    /* Blue */
    border-bottom: 16px solid #d82d0f;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: relative;
    top: 40%;
    animation: spin 1s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rightLst,
.leftLst {
    opacity: 0.3;
}

.leftLst:hover {
    opacity: 1;
}

.rightLst:hover {
    opacity: 1;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center;
    margin: 10px;
    height: 13rem;
    background: #f1f1f1;
    color: #666;
}

.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
    position: absolute;
    font-size: 50px;
    z-index: 3;
    top: calc(50% - 50px);
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
    pointer-events: none;
    opacity: 0;
    background: rgb(153, 152, 152);
}


/* Keframes  */

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}




/* Media queries from large to medium */

@media only screen and (max-width: 992px) {
    .main-content {
        min-width: 80vw;
    }

    .bg-image {
        background-image: linear-gradient(to left, #0033ff, #000033) !important;
    }
}

@media only screen and (max-width: 768px) {

    div.footer.container-fluid .container.transparent {
        display: none;
    }

    nav.fixed-top div.container {
        width: 100vw;
    }

    .blog-icon {
        display: none;
    }

    .pt-6s {
        padding-top: 4rem;
    }

    .input-group {
        width: 98% !important;
    }

    .item-action {
        margin-top: 0rem;
    }

    .lead {
        font-size: 1rem;
    }

    .main-content {
        width: 85vw;
    }
    
    .blog-posts .card , .main-carousel .col-md{
        margin-bottom: 1rem;
    }

    .product-box {
        width: 46%;
        height: 10rem;
    }

    .product-box:nth-child(2) {
        margin-left: -4px;
    }

    .product-box:nth-child(4) {
        margin-left: -4px;
    }
    .subscribe .input-group{
        margin-top: 2rem;
    }
    .subscribe{
        margin-bottom: -4.7rem !important;
    }
    .pt-6 {
        padding-top: 8rem;
    }

}

@media only screen and (max-width: 576px) {
    #nav {
        display: none;
    }

    #side-toggler {
        padding: 1rem 3px;
        display: inline-block;
    }

    .jumbo-button {
        margin-top: rem;
    }

    h1.display-4 {
        font-size: 2.5rem;
    }

    section.container-fluid {
        padding-left: 0;
    }

    .card img {
        height: auto;
    }

    .compact-form {
        max-width: 100%;
    }

    .blog-posts h2 {
        font-size: 1.2rem;
    }

    .brand-name {
        display: none;
    }


    .btn-outline.rounded-pill {
        margin-top: 1rem;
        margin-left: 0 !important;
        width: 99%;
    }

    .comment .row div.col-sm {
        padding-left: 0px;
        padding-right: 0px;
    }

    .display-5 {
        font-size: 1.5rem;
    }

    .item-details {
        margin-left: 0;
    }

    .item-details div.btn-group * {
        display: block;
    }

    .item-action {
        margin-top: 2rem;
    }

    .item-action .download {
        width: 100%;
        margin-bottom: 1rem;
    }

    .jumbo-button .btn.btn-purple-color {
        width: 100%;
        border-radius: none;
    }


    .main-content,
    .right-side-bar {
        width: 100%;
    }

    .mb-6 {
        margin-bottom: 1rem;
    }


    .mt-6 {
        margin-top: 6rem;
    }
    .display-6{
        font-size: 1.5rem;
    }
    .search-box div.rounded {
        min-width: 100vw !important;
        position: absolute;
        left: 0;
        border-radius: 5px !important;
        margin-top: 0.5rem;
    }

    /* .item-details .btn-group a {
    display: block;
  } */
    .search-box {
        padding: 10px;
        background-image: linear-gradient()
    }

    .main {
        min-width: 100vw !important;
        min-height: 40vh !important;
    }

    .blog-head {
        text-align: center;
    }

    .search-box .display-5 {
        font-size: 1.5rem;
    }

    .font-size-md {
        font-size: 1.5rem;
    }

    .post-image {
        max-height: 20rem;
    }

    .share {
        position: relative;
        width: 100%;
        display: inline-block;
        justify-content: space-around;
    }

    .share h6 {
        position: absolute;
        top: 26%;
    }

    .share a {
        float: right;
        margin: 4px;
    }

    .statistics .container-fluid .row div:first-of-type {
        margin-top: -4rem;
    }

    .statistics .container-fluid .row div {
        margin: 0px;
        margin-top: -1.5rem;
    }

    .top-section {
        width: 90%;
    }

    .blog-content .sub .col-sm {
        margin: 0;
        margin-top: 3px;
    }

    .sub .row {
        margin-left: 0;
    }

    .sub {
        margin: 0 !important;
        margin-top: 1rem !important;
    }

    .subscribe{
        margin-bottom: -5.7rem !important;
    }

    
    .sub .container {
        padding-left: 0;
    }

    .blog-content .main,
    .blog-image-sm {
        min-height: 12rem;
    }

    .blog-content .blog-title {
        font-size: 1rem;
    }

    .blog-details .meta {
        font-size: 0.8rem;
    }

    .post-image {
        padding: initial 0px;
    }

    .scroll-flex {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .btn-outline.rounded-pill.small{
        width: auto;
    }

    .scroll-flex .col-sm-5 {
        max-width: 80vw;
    }

    div.emphasis p.text {
        font-size: 14px;
    }

    div.emphasis p.author {
        font-size: 15px;
    }
}