* {
    transition: .5s
}

body {
    background-image: linear-gradient(to left, #306, #609, #60c);
    font-family: 'Montserrat', sans-serif;
}

p {
    letter-spacing: .3px;
    font-family: 'Raleway', sans-serif !important;
}

.fixed-top {
    z-index: 99
}

nav.fixed-top div.container {
    width: 65vw;
    padding-top: 20px
}

h1.display-4 {
    font-weight: 700
}

.nav-item .nav-link {
    color: #fff
}

.nav-item .nav-link:hover {
    color: #96f !important
}

.btn:hover {
    opacity: .9
}

.transparent {
    background: 0 0 !important
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
    border: none;
    outline: 0;
    background-color: rgba(23, 45, 247, .493);
    color: #999;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    transition: .3s
}

.disclaimer-gradient {
    background-image: linear-gradient(to bottom, #990, #303) !important
}

.deleteForm {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: #111
}

.thumbnail {
    max-width: 400px;
    max-height: 400px;
    margin: auto
}

.thumbnail img {
    max-height: 300px !important
}

.deleteForm form {
    width: 30vw;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto
}

.advert-gradient {
    background-image: linear-gradient(to bottom, #03c, #003) !important
}

.edit-list .row {
    border: 1px solid gray;
    padding: 20px
}

.edit-list .col-md-2,
.edit-list .col-md-4,
.edit-list .col-md-6 {
    background-color: #dcdcdc
}

.privacy-policy-gradient {
    background-image: linear-gradient(to bottom, #f03, #300) !important
}

.about-us-gradient {
    background-image: linear-gradient(to bottom, #909, #303) !important
}

.contact-us-gradient {
    background-image: linear-gradient(to bottom, #099, #303) !important
}

#myBtn:hover {
    background-color: #555
}

.nav-item {
    margin: 0 15px
}

.blog-details span {
    font-weight: 700
}

.blog-title {
    font-size: 16px;
    font-weight: 400;
    padding: 6px
}

.main {
    min-height: 22rem;
    width: 100%;
    height: 100%
}

.pagination {
    padding: 4px;
    max-width: 15rem !important;
    margin-left: auto;
    border-radius: 25px;
    border: 1px solid #03f
}

.pagination .active a {
    color: #fff !important;
    background-color: #335bd4d8 !important
}

.pagination a {
    background-color: transparent;
    border: none;
    border-radius: 50% !important
}

.pagination a.next,
.pagination a.previous {
    border-radius: 0 !important;
    background-color: transparent !important
}

.small-ht {
    max-height: 12rem !important
}

.main .col-md-4 {
    background-color: #03c;
    margin: 10px;
    height: 23.3rem;
    border-radius: 11px
}

.bottom-rounded {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px
}

.site-content .col-md-3 {
    max-width: 11rem
}
.bottom-shadow{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}
a {
    text-decoration: none !important
}

.site-content .apps a img.card-img-top {
    border-radius: 50%;
    min-height: 8rem;
    min-width: 8rem;
    max-width: 8rem;
    max-height: 8rem;
    margin: auto
}

.site-content .card img {
    min-height: 6rem;
    max-height: 6rem
}

.site-content .card {
    min-height: 11.5rem
}

.site-content .apps a .card {
    background: 0 0;
    border: none;
    box-shadow: none
}

.site-content .apps a .card-title {
    position: relative;
    top: initial;
    bottom: initial;
    left: initial;
    right: initial;
    text-align: center !important
}

.apps .card p {
    text-align: center
}

.card-body {
    padding: .5rem !important;
    padding-top: 1rem
}

.site-content .apps a .card * {
    margin: auto
}

.site-content .card-title {
    letter-spacing: normal;
    position: absolute;
    top: 56%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 1rem
}

.main .row .col-sm,
.main .row .col-sm-4 {
    margin: 10px;
    background-color: #099;
    height: 11rem;
    border-radius: 11px
}

.sub-box {
    z-index: 2;
    position: absolute
}

.subscription .input-group-text {
    max-width: 5rem;
    border-radius: 5rem;
    background-color: #0383b6
}

.subscription .input-group-text:hover {
    background-color: #31aada
}

.subscription .input-group-text img {
    width: 20px
}

.input-group-text {
    width: auto !important
}

input::placeholder {
    font-weight: 400;
    color: gray;
    font-size: 13px
}

.subscription .form-control {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px
}

.subscription .input-group {
    margin-top: .5rem;
    box-shadow: 19px 5px 17px #a8a8a8;
    border-radius: 5rem;
    cursor: pointer
}

.subscribe p {
    font-size: 16px;
    display: inline
}

.subscribe {
    position: relative;
    z-index: 5;
    border-radius: 25px;
    padding: 38px 35px;
    box-shadow: 10px 30px 50px 20px rgba(0, 0, 0, .1);
    margin-bottom: -5.7rem !important
}

.date,
.tags {
    color: #4267f8;
    font-size: 15px;
    margin-bottom: 1.5rem
}

.date {
    margin-top: 1.5rem;
    margin-bottom: 0
}

.home-selected .card-title {
    font-size: 12px
}

.hover-option {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(3, 27, 104, .311);
    z-index: 15;
    opacity: 0;
    border-radius: 8px;
}

.fab.big {
    font-size: 25px
}


.hover-option a {
    position: absolute;
    width: 50px;
    height: 40px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: white !important;
    margin: auto;
    cursor: pointer !important;
}

.carousel-control-next,
.carousel-control-prev {
    z-index: 16;
}

.carousel-item:hover .hover-option {
    opacity: 1
}

.carousel-item:hover p {
    opacity: 0
}

.carousel-item img {
    min-height: 12rem;
    max-height: 12rem
}

.most-popular .col-md {
    max-width: 15rem;
    margin-right: 15px;
    margin-bottom: 80px;
}

.most-popular .carousel-item {
    max-height: 12rem;
    min-height: 12rem;
}

.most-popular .carousel-inner {
    border-radius: 8px;
}

.most-popular p {
    cursor: pointer;
}

.hover-option:hover {
    opacity: 1
}

.home-selected .card {
    min-height: 11rem;
    margin: 16px !important;
    margin-bottom: 15px !important;
    box-shadow: 5px 5px 18px rgba(0, 0, 0, .185)
}

.home-selected .card-body {
    padding: 15px
}

.absolutte-card-title,
.recommended .card-title {
    position: absolute;
    top: 5%;
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    left: 10px
}

.card-text {
    font-size: 13px
}

.latest-posts .col.justify-content-end {
    margin-left: 2rem
}

.line {
    /* padding-left: 13rem; */
    border-top: 1px solid purple
}

.latest-posts .row {
    padding: 4px;
    margin: 3px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .11)
}

.latest-posts .row:last-child {
    border-bottom: none
}

.card {
    box-shadow: 3px 3px 15px rgba(0, 0, 0, .199);
    cursor: pointer
}

.recommended .card-body {
    padding-bottom: 0;
    padding-top: 0
}

.recommended .card img {
    border-radius: 11px
}

.card:hover {
    box-shadow: none
}

.card {
    border-radius: 11px !important;
    margin: 2px
}

.card img {
    border-top-left-radius: 11px;
    border-top-right-radius: 11px
}

.blog-details {
    position: absolute;
    bottom: 0;
    z-index: 2
}

.blog-head {
    border-bottom: 2px solid #2c008b;
    margin-bottom: 1rem
}

.blog-head span {
    padding: 4px 20px;
    background-color: #2c008b;
    color: #fff
}

.navbar-icon {
    border-radius: 4px;
    height: 40px;
    padding-right: 7px;
    border: none
}

.bg-gradient {
    background-image: linear-gradient(40deg, #003, #03c, #3cc) !important;
}

.bg-gradient-bottom {
    background-image: linear-gradient(180deg, #003, #03c, #3cc) !important;
}

.compact-form {
    max-width: 60%;
    margin: auto
}

.display-6 {
    font-size: 2rem
}

.bg-image {
    background-image: url(/imgs/bg-img.jpg) !important;
    background-color: #03c;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.top-section {
    width: 57vw;
    margin: auto
}

.navbar {
    background-color: #fffffffb;
    padding: 2rem 3rem;
    padding-top: 0
}

input:focus {
    outline: 0
}

.pt-6s {
    padding-top: 8rem
}

.text-dark-purple {
    color: #580096 !important
}

.btn-purple-color {
    background-color: #06c
}

.blog-posts .container div div {
    margin: 1rem
}

.border-bottom-light {
    border-bottom: 1px solid rgba(0, 0, 0, .151)
}

.side-posts {
    margin-left: 1rem;
    margin-top: 1rem
}

.side-posts.border-bottom-light:last-child {
    border-bottom: none
}

.home-selected .card.head {
    width: 100%
}

.img-icon img {
    height: 50px;
    width: 50px
}

.font-lg {
    font-size: 1.5rem !important
}

#sidenavs {
    display: inline-block;
    height: 1rem
}

#side-toggler {
    z-index: 99;
    padding: 9px 0;
    position: fixed;
    top: 0;
    background-color: #feffff;
    padding: 0;
    display: none
}

.sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #06c;
    overflow-x: hidden;
    padding-top: 60px;
    transition: .5s
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 21px;
    color: #fff;
    display: block;
    transition: .3s
}

.blog-posts div.row div.col-lg .row {
    border-left: 4px solid #fff
}

.blog-posts div.row div.col-lg .row:hover {
    border-left: 4px solid #60f
}

.sidenav a:hover {
    color: #0f0e0f
}

#side-toggler .closebtn {
    position: absolute;
    top: 0;
    left: 75%;
    display: none;
    font-size: 36px;
    margin-left: 50px
}

#main {
    transition: margin-left .5s;
    padding: 20px
}

@media screen and (max-height:450px) {
    .sidenav {
        padding-top: 15px
    }

    .sidenav a {
        font-size: 18px
    }
}

h1 {
    color: #333
}

.btn-outline {
    border: 1px solid #06c;
    background-color: #ffffff00;
    color: #fff
}

.jumbo-button {
    text-align: center
}

.jumbo-button .btn-outline:hover {
    border-color: #96f;
    color: #fff
}

.jumbo-button .dark-purple-color:hover {
    background-color: #5a00f0
}

.lead {
    font-weight: 400
}

.blog-main-title {
    font-size: 28px;
    font-weight: 700;
    padding-top: 15px;
    letter-spacing: .5px;
    padding-bottom: 28px
}

.blog-main-image {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.blog-main-image img {
    width: 100%;
    max-height: 50%;
    border-radius: 5px
}

blockquote {
    border-left: 1px solid #2196f3;
    padding: 15px 25px;
    font-style: italic;
    color: #1f2024;
    font-size: 14px;
    background-color: rgba(155, 155, 155, 0.05);
}

blockquote::before {
    content: '\f10d';
    margin: 0 10px 0 0;
}

blockquote::after {
    content: '\f10e';
    margin: 0 0 0 10px;
}

blockquote::before,
blockquote::after {
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    color: #1f2024;
    line-height: 1;
}

.blog-body {
    font-size: 15px;
    color: #656565;
}



.brand-name {
    position: absolute;
    font-size: 14px;
    padding: 3px
}

.jumbo-button .btn {
    font-weight: 400;
    font-size: 14px !important
}

.btn.btn-purple-color:hover {
    box-shadow: 0 0 30px #cbace2, 0 0 15px #60f
}

.brand-name span.motto {
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px
}

.svg-icon {
    height: 40px;
    width: auto
}

.carousel-indicators li {
    border-radius: 50%;
    padding: 3px;
    max-width: 5px
}

.btn-outline-secondary:hover {
    color: #fff !important
}

.social a:hover {
    color: #dc143c
}

.social a {
    color: #fff
}

.circle {
    border-radius: 50% !important
}

.download-item img {
    min-width: 15rem;
    min-height: 16rem;
    max-height: 16rem;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 3px 3px 25px rgba(0, 0, 0, .599)
}

.carousel-item img {
    border-radius: 10px !important
}

a:active,
a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
    outline-style: none
}

.img {
    position: relative
}

.details {
    padding-top: 8rem
}

.share {
    border: 1px solid #03f;
    border-radius: 25px;
    padding: 8px;
    display: block;
    margin: auto;
    color: #03f;
    max-width: 10.5rem
}

.share span {
    font-weight: 700
}

.share a {
    color: #03f
}

.share a .fab {
    font-size: 14px;
    margin: 5px 0 5px 5px
}

.jumbo-button {
    margin-top: 1em
}

.jumbo-button a {
    font-size: 16px !important
}

.h-13 {
    height: 13rem !important;
}

.no-border {
    border: none !important
}

.no-border-radius {
    border-radius: 0 !important
}

.bg-white {
    background-color: #ffffff !important
}

.border-purple {
    border: 2px solid #60f !important
}

.horizontal-scroll {
    padding-top: 20px;
    overflow-y: auto;
    /* white-space: nowrap; */
    height: 28rem;
    ;
}

.card {
    color: #0f0e0fd3
}

.horizontal-scroll .scroll-item {
    display: inline-block;
    margin: 20px;
    margin-top: 1.2rem;
    height: 17.5rem;
    width: 13rem;
    background-color: #0fc4c4;
    border-radius: 35px;
    box-shadow: 3px 3px 15px rgba(48, 47, 47, 0.288);
    position: relative;
}

.app-banner {
    margin-top: 150px;
    background-image: url('/imgs/app-banner.webp');
    background-color: #03c;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.app-banner div {
    margin-right: 15rem;
    padding-top: 4rem;
}

.scroll-item .category {
    position: absolute;
    width: 100px;
    text-align: center;
    top: 45%;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgba(249, 249, 250, 0.904);
    z-index: 5;
    font-weight: bold;
    font-size: 18px;
    margin: auto;
}

.horizontal-scroll .scroll-item img {
    width: 13rem;
    border-radius: 35px;
    height: 17.5rem;
}

.horizontal-scroll .scroll-item:hover {
    transform: translateY(-15px);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, .199)
}

.pt-6 {
    padding-top: 15rem
}

.plus-symbol {
    font-weight: 400;
    font-size: 25px;
    color: #60f;
    background-color: #fff;
    border-radius: 50%;
    padding: 8px 15px;
    cursor: pointer !important;
}

.advert-place {
    position: absolute;
    z-index: 500;
    width: 80vw;
    max-height: 90vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto !important;
    padding: 10px;
    position: fixed;
    display: none;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, .199) !important
}

.advert-place .box {
    width: 100%;
    max-width: 15rem;
    height: 9rem;
    background-color: #0383b6;
    margin: auto
}

.mb-6 {
    margin-bottom: 8rem
}

.main-carousel .col-md {
    min-height: 12rem !important
}

.mt-6 {
    margin-top: 8rem
}

.load-more {
    color: #06c;
    font-size: 18px;
    font-weight: 400
}

.load-more:hover {
    color: #fff;
    background-color: #06c
}

.footer-bg {
    background-image: url('/imgs/footer-bg.jpg');
    background-color: #03c;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.testimonial-bg {
    background-image: url('/imgs/testimonial-bg.jpg');
    background-color: #03c;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.pb-6 {
    padding-bottom: 4.5rem
}

.statistics {
    padding-top: 5rem;
}

.hits {
    position: relative;
    top: 33%
}

.monteserrat {
    font-family: 'Montserrat', sans-serif !important;
}

.hits span {
    color: #2c008b;
    font-size: 2rem;
    font-weight: 600;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.hits span.lead {
    font-size: 1rem;
    font-weight: 700
}

.statistics .container-fluid .row div {
    height: 13rem;
    max-width: 18rem;
    margin: 10px;
    margin-top: -5rem;
    z-index: 1;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 10px 30px 50px 20px rgba(0, 0, 0, .1)
}

.text-gray {
    color: #999 !important
}

.main-content {
    max-width: 60vw;
    margin: auto
}

.input-group-text {
    width: 8rem
}

.scroll-flex {
    display: flex
}

.xs-small {
    font-size: 8px;
    letter-spacing: 0
}

.comment input,
.comment textarea {
    width: 100%;
    padding: 16px;
    color: #4d4c4c;
    border: 1px solid #03f;
    border-radius: 15px !important;
    font-size: 10px !important
}

.comment input {
    margin: 12px 0;
    padding: 15px 10px;
    border-radius: 10px !important
}

.comment ::placeholder {
    color: gray
}

.comment textarea,
textarea.form-control {
    height: 17rem
}

.font-size-md {
    font-size: 2.3rem
}

.loader-div {
    position: fixed;
    top: 0;
    opacity: .99;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    text-align: center
}

.loader {
    border: 16px solid #202020cb;
    border-top: 16px solid #fa1919;
    border-bottom: 16px solid #d82d0f;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: relative;
    top: 40%;
    animation: spin 1s linear infinite;
    display: inline-block
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.srch form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 500px;
    height: 50px;
    background: #03f;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid #03f;
    padding: 5px;
    z-index: 2;
    margin-bottom: -4.5rem
}

.srch input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    background: #03f;
    line-height: 30px;
    outline: 0;
    border: 0;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px
}

.srch .fas {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    transition: all 1s;
    background-color: rgb(4, 22, 184);
    box-shadow: 10px 30px 50px rgba(2, 38, 104, 0.678)
}

.srch form:hover {
    cursor: pointer
}

.srch input::placeholder {
    color: white;
}

.srch form:hover .fas {
    background: #03c;
    color: #fff
}

.trending-posts {
    color: #fff
}

.trending-posts .col-sm-4:hover p {
    opacity: 0
}

.trending-posts .col-sm:hover p {
    opacity: 0
}

.trending-posts p {
    margin-top: 10px;
    position: absolute;
    bottom: 0
}

.trending-posts .col-md-4:hover p {
    opacity: 0
}


.horizontal-scroll-flex-box {
    overflow-y: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    touch-action: initial;
    height: 15.8rem;
    width: 100%;
}

.scroll-item-flex {
    display: inline-block;
}

.scroll-item-flex p {
    white-space: normal;
}








/* ------------------------------------------- */

@media only screen and (max-width:992px) {

    /* .app-banner{
        background-image: none;
        background-image: linear-gradient(40deg, #003, #03c, #3cc)!important;
    } */
    .app-banner div {
        margin-right: 0px;
    }

    .about-img {
        display: none;
    }

    .main-content {
        min-width: 80vw
    }

    .bg-image {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        background-size: cover;
    }

    .site-content .apps a img.card-img-top {
        border-radius: 50%;
        min-height: 8rem;
        min-width: 9rem;
        max-width: 9rem;
        max-height: 8rem
    }
}

@media only screen and (max-width:768px) {

    .footer-bg {
        background-image: linear-gradient(40deg, #003, #03c, #3cc) !important;
    }

    div.footer.container-fluid .container.transparent {
        display: none
    }

    .horizontal-scroll-flex-box {
        padding-left: 18%;
        padding-right: 18%;
    }

    .scroll-top {
        justify-content: initial !important;
        padding-left: 21%;
    }

    .recommended .card-title {
        font-size: 16px
    }

    nav.fixed-top div.container {
        width: 100vw
    }

    .blog-icon {
        display: none
    }

    .details {
        padding-top: 11rem
    }

    .pt-6s {
        padding-top: 6rem
    }

    .input-group {
        width: 98% !important
    }

    .lead {
        font-size: 1rem
    }

    .main-content {
        width: 85vw
    }

    .blog-posts .card,
    .main-carousel .col-md {
        margin-bottom: 1rem
    }

    .card {
        margin: 15px;
        margin-top: 1rem
    }

    .subscription {
        margin-bottom: -4.7rem !important
    }

    .pt-6 {
        padding-top: 8rem
    }

    .home-selected .card {
        margin-bottom: 2.5rem !important
    }
}

@media only screen and (max-width:576px) {
    #nav {
        display: none
    }

    .srch form {
        width: 75vw;
    }

    .bg-image {
        background-image: url('/imgs/phone-bg.jpg') !important;
    }

    .carousel-item img {
        min-height: 12rem;
        max-height: 12rem
    }

    .site-content .apps a img.card-img-top {
        border-radius: 50%;
        min-height: 4rem;
        min-width: 4rem;
        max-width: 4rem;
        max-height: 4rem
    }

    #side-toggler {
        padding: 1rem 3px;
        display: inline-block
    }

    .scroll-flex .col-md {
        flex: 0 0 auto;
        width: 14.2rem
    }

    .absolute-card-title,
    .recommended .card-title {
        font-size: 1rem
    }

    h1.display-4 {
        font-size: 2.5rem
    }

    section.container-fluid {
        padding-left: 0
    }

    .compact-form {
        max-width: 100%
    }

    .blog-posts h2 {
        font-size: 1.2rem
    }

    .brand-name {
        display: none
    }

    .home-selected .card {
        margin: 0 !important;
        margin-bottom: 3.5rem !important
    }

    .comment .row div.col-sm {
        padding-left: 0;
        padding-right: 0
    }

    .display-5 {
        font-size: 1.5rem
    }

    .jumbo-button .btn.btn-purple-color {
        border-radius: none
    }

    .main-content,
    .right-side-bar {
        width: 100%
    }

    .mb-6 {
        margin-bottom: 1rem
    }

    .mt-6 {
        margin-top: 6rem
    }

    .display-6 {
        font-size: 1.5rem
    }

    .main {
        min-width: 100vw !important;
        min-height: 40vh !important
    }

    .blog-head {
        text-align: center
    }

    .font-size-md {
        font-size: 1.5rem
    }

    .post-image {
        max-height: 20rem
    }

    .statistics .container-fluid .row div:first-of-type {
        margin-top: -4rem
    }

    .statistics .container-fluid .row div {
        margin: 0;
        margin-top: -1.5rem
    }

    .top-section {
        width: 90%
    }

    .subscription {
        margin-bottom: -5.7rem !important
    }

    .blog-details .meta {
        font-size: .8rem
    }

    .post-image {
        padding: initial 0
    }

    .scroll-flex {
        flex-wrap: nowrap;
        overflow-x: auto
    }

    .subscribe {
        margin-bottom: -6rem !important
    }

    .download-item .img img {
        max-width: 18rem
    }

    .scroll-flex .col-sm {
        min-width: 73vw
    }

    .tags {
        font-size: 12px
    }

    h5.card-title {
        font-size: 16px;
        font-weight: 700
    }

    .scroll-flex .card-title {
        padding-top: 1rem
    }
    .site-content .col-md-3 {
        max-width: 9rem;
    }
}